{% block body %}
    <div class="_wb">
        <div class="container-bo_v5">
            {{ include('aff_customer/menu/'~agent~'/websitemenu.html.twig') }}
            <section class="_wb-ospace">
                {{ include('aff_websiteadmin/formule/form/duplicateform.html.twig') }}
            </section>
        </div>
    </div>
{% endblock %}
{% use "js/js_wb.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}



