{% block body %}
<div class="log-machina">
    <h1 class="title_log">{{vartwig.title}}</h1>
    <div class="svg-bulle_open">
        <div class="content_ask_affi">
            <div class="stapefinish">
                <h2>Votre espace AffiChanGe est maintenant ouvert.</h2>
            <p>Vous disposez des droits d'administration du panneau {{ website.namewebsite }}</p>
            </div>
            <a href="{{ path('show_website',{'city':website.locality.slugcity,'nameboard':website.slug}) }}" class="btn-send">voir le panneau</a>
        </div>
    </div>
</div>
{% endblock %}
{% use "js/js_security.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}