{% block body %}
    <div class="log-machina">
        <div class="stape stape_mob">
            <p>Presque fini...</p>
            <div class="sous_connector">
                <h4>Confirmez votre adresse e-mail</h4>
                <p>Un e-mail a été envoyé à l'adresse : </p>
                <div class="link_reg">{{ user.emailCanonical }}</div>
                <p>Il contient un lien d'activation sur lequel il vous faut cliquer afin d'activer votre compte.</p>
                <p>à tout de suite...</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script>
        window.onunload = function() {
            localStorage.clear();
        }
    </script>
{% endblock %}