<div class="zone-bar-echange">
    <div class="lite-cmd">
        {% if  board.contactation is not null %}
            <div class=" button-wp" >
                <button class="bulletoggle pop_button" data-affitgl="tgl_9">
                    <i class="fa fa-comments-o" aria-hidden="true"></i> laissez un commentaire
                </button>
            </div>
        {% endif %}
    </div>
</div>