<div class="connect-cnfs bgrop_v5">
    <div id="id-choicacces" class="head-l">
        <div id="testmail">
            <test-mailmsg slug="{{ board.slug }}" id="{{ post.id }}" module="_blog"></test-mailmsg>
        </div>
    </div>
</div>




















