<!DOCTYPE html>
<html lang="FR">
<head>
    {% block head %}
        <title>{% block title %}{{vartwig.title}}{% endblock %}</title>
            {{ include('head/head.html.twig') }}
    {% endblock head %}
    {% block extra_head %}
        {% if directory is defined and directory == 'wizard' %}
            <meta name="turbo-cache-control" content="no-cache">
        {% endif %}
    {% endblock %}
        {{ encore_entry_link_tags('app') }}
</head>
{% block menu %}
{% endblock menu %}
{% block core %}
        {% block body %}
        {% endblock body %}
        {% block footer %}
        {% endblock footer %}
{% endblock core %}
{% block javascripts %}
{% endblock %}
</html>
