{% block menu %}
    <div class="nav_game">
            {# >>> Passe les variables dont le sous-menu a besoin #}
            {{ include('pwa/escape/menus/menu.html.twig', {
                participant: participant|default(null),
                brand_route: brand_route|default('home'),
                active: active|default(''),
                nav: nav|default({})
            }) }}
        </div>
{% endblock %}
