
{% block menu %}
    <div class="navadmin">
        <div class="navaffi-bk">
            <div class="afnav-fl">
                <a href="{{ path('potins_index') }}" class="navlogo_affi">
                    <div class="navlogo-svg">{{ include('svg/potins/logopotins_svg_small.html.twig') }}</div>
                </a>
            </div>

            <div class="afnav-fl">
                <div class="head-bull_admin">
                    <h2>atelier escape game</h2>
                </div>
            </div>
        </div>
        <div class="navaffi-bk">
            {{ include('pwa/escape/'~directory~'/menu.html.twig') }}
        </div>
    </div>
{%  endblock menu %}

