{% extends 'pwa/escape/basepublic.html.twig' %}

{% block body %}
    <main class="public-escape">
        <h1>🔓 Escape Game créé par {{ participant.prenom }}</h1>

        {% for num, contenu in enigmes %}
            <section class="public-etape">
                <h2>Énigme {{ num }}</h2>
                <div class="public-view">
                    {{ contenu|raw }}
                </div>
            </section>
        {% endfor %}
    </main>
{% endblock %}
