{% extends 'pwa/escape/basepublic.html.twig' %}

{% block body %}
    <main class="public-list">
        <h1>🌍 Escape Games publiés</h1>

        {% if participants is empty %}
            <p>Aucun escape game n’a encore été publié.</p>
        {% else %}
            <ul class="escape-list">
                {% for p in participants %}
                    <li>
                        <strong>{{ p.prenom }}</strong> a publié son jeu :
                        <a href="{{ path('escape_public_view', { 'id': p.id }) }}">Jouer à son escape</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </main>
{% endblock %}
