<div class="calendar-affi">
    <div class="lig-grid_month">
        <div class="col-date"><h1>mois </h1></div>
        <table class="calendar__table calendar__table--month" >
        </table>
    </div>
</div>
