<div class="content-form-calendar">
    <div class="inline-flexouz" data-dateslect="all">
        <h6>horaire pour toutes les dates : </h6>
        <div class="grid-time_hrz">
            <div class="t1">
                <div id="heurefinall" class="form-inline">
                    <label for="appt-time-deb"></label><i>heure debut : </i><input id="appt-time-deb" type="time" name="appt-time-deb" value="08:30">
                </div>
            </div>
            <div class="t1">
                <div id="heurefinall" class="form-inline">
                    <label for="appt-time-end"></label><i>heure fin : </i><input id="appt-time-end" type="time" name="appt-time-end" value="18:00">
                </div>
            </div>
        </div>
        <button class="btn btn-secondary" id="submitclokAll">validez</button>
    </div>

    <div class="zn-tab tab-active">
        <h5>Sélectionnez vos jours d'ouverture de la semaine</h5>
        <ul class="tab-selectdate-day">
            <li class="listweek-block"><button class="thisday-block" data-dateday="Lun">Lundi</button></li>
            <li class="listweek-block"><button class="thisday-block" data-dateday="Mar">Mardi</button></li>
            <li class="listweek-block"><button class="thisday-block" data-dateday="Mer">Mercredi</button></li>
            <li class="listweek-block"><button class="thisday-block" data-dateday="Jeu">Jeudi</button></li>
            <li class="listweek-block"><button class="thisday-block" data-dateday="Ven">Vendredi</button></li>
            <li class="listweek-block"><button class="thisday-block" data-dateday="Sam">Samedi</button></li>
            <li class="listweek-block"><button class="thisday-block" data-dateday="Dim">Dimanche</button></li>
        </ul>
        <ul class="tab-selectdate_timeday">
        </ul>
    </div>

</div>


