<a href="{{ path('show_ressource',{"id":ressource.id}) }}" class="widget_event_card_date color-event-1">
    <div class="widget_inner-event">
        <div class="event-locate">
            <div class="rss-inf2">
                <h3>{{ ressource.titre  }}</h3>
            </div>
            <div class="rss-dis">{{ ressource.descriptif|u.truncate(80, '...')|lower|capitalize }}</div>
        </div>
    </div>
</a>