{% block body %}
<div class="fx_wb-c">
        {{ include('aff_account/profil/view/'~agent~'/choice.html.twig') }}
</div>
{%  endblock body %}
{% use "js/js_loc_customer.html.twig" %}
{% block javascripts %}
        {{ parent() }}
{% endblock %}








