<div class="tglaff w100" id="tgl_0">
    <div class="list_messagerie">
         {{ include('aff_customer/notifications/'~agent~'/view/list_notifications.html.twig') }}
    </div>
</div>
<div class="tglaff w100" id="tgl_1" style="display: none">
   {{include('aff_customer/notifications/'~agent~'/view/listcontact.html.twig')}}
</div>
<div class="tglaff w100" id="tgl_2" style="display: none">

</div>







