
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
!/vendor/bin
!/vendor/phpunit
/old_migration/
/public/*
!/public/index.php
!/public/.htaccess
!/public/robots.txt
/templates/svg/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/.yarn/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
