<div class="wp-info">

    <div class="w_inf_board bgrop_v5">
       <h3>Vous n'êtes pas connecté</h3>
        <div class="iner-col_v6">
            <a class="sstitl mrg0" href="{{path('app_login')}}">
                <div class="ti-sst"><i class="fa fa-user-circle-o"></i>connexion</div></a>
        </div>
    </div>

</div>

<div class="_boa_aouth_choic">
    <div class="w_inf_board w_msg bgrop_v5" data-choice="log" >
        <div class="goaff_v6"><h3>Depuis mon espace personnel</h3></div>

            <div class="iner-inf_v6 pd15 bgrop_v5">
                <div class="iner-col_v6">
                    <div class="_iner-inf_mb_v6">
                        <h5>je peux retrouver et suivre mes échanges depuis mon espace personnel</h5>
                    </div>
                </div>
            </div>
    </div>

    <div class="w_inf_board w_msg bgrop_v5" data-choice="post" >
        <div class="goaff_v6"><h3>Je m'inscrit pas</h3></div>

            <div class="iner-inf_v6 pd15 bgrop_v5">
                <div class="iner-col_v6">
                    <div class="_iner-inf_mb_v6">
                        <h5>Je veux échanger sans ouvir de compte. Je recevrais les réponses sur ma boite mail</h5>
                    </div>
                </div>
            </div>

    </div>
</div>




