<aside class="info-register">
    <div class="w_inf_board bgrop_v5">
        <i class="fa fa-smile-o" aria-hidden="true"></i>
        <div class="goaff_v6"><h3>Bravo <span id="namemeber"></span>, votre compte vient d'être crée</h3></div>
        <div class="iner-col_v6">
            <div class="_inner">
                <p>Vous avez reçu un mail de confirmation qui vous invite à valider votre espace personnel<br> (voir aussi dans vos spams)
                    A la validation de votre adresse mail, vous serez redirigez vers l'initiliation de vos services sur AffiChanGe</p>
                <em>Vous pouvez dès à présent envoyer votre message, il sera enregistré dans le fil de vos conversations</em>
            </div>
            <div class="bul-go_s bull-sz bull_flx" id="andst-register">
                <div class="arw-tx"><i class="fa fa-users"></i>j'ai compris</div>
            </div>
        </div>
    </div>
</aside>