<div class="w100">
    <div class="fx-content">
        <h2>Avec ...</h2>
        <div class="li_contct">
            <div class="affitoggle popnewmsg"  data-affitgl="tgl_2">
                <div class="logo_wb">{{ include('svg/40x40_AFG_rw.html.twig') }}</div>
                <div class="titl-para-bull">tous</div>
            </div>
        </div>
    </div>
</div>