{% block body %}
    <div class="container-bo_v5">
        {{ include('pwa/ptn_office/menu/websitemenu.html.twig') }}
        <section class="_wb-ospace">
            <!-- affiches du board customer -->
            {{ include('pwa/ptn_office/event/affi_blog.html.twig') }}
        </section>
    </div>
{% endblock %}
{% use "js/js-eventpotin.html.twig" %}
{% block javascripts %}
{{ parent() }}
{% endblock %}