<div class="_men-fl-bkoff" id="genery">
    <div class="pwa-in-l-bb2-bo">
        <div class="bta-lk-bo bo-trash">
            <a class="logo_wb-bo" href=""><i class="fa fa-home mgr_5" aria-hidden="true"></i></i> Menu</a>
        </div>
        <div class="bta-lk-bo bo-trash">
            <a class="logo_wb-bo" href=""><i class="fa fa-id-card mgr_5" aria-hidden="true"></i></i> Produits</a>
        </div>
        <div class="bta-lk-bo bo-trash">
            <a class="logo_wb-bo" href=""><i class="fa fa-puzzle-piece mgr_5" aria-hidden="true"></i> Clients</a>
        </div>
        <div class="bta-lk-bo bo-trash">
            <a class="logo_wb-bo" href=""><i class="fas fa-clock mgr_5"></i> Commandes</a>
        </div>
        <div class="bta-lk-bo bo-trash">
            <a class="logo_wb-bo" href=""><i class="fa fa-compass mgr_5" aria-hidden="true"></i> websites</a>
        </div>
        <div class="bta-lk-bo bo-trash">
            <a class="logo_wb-bo" href=""><i class="fa fa-id-card mgr_5" aria-hidden="true"></i></i> liste users</a>
        </div>
        <div class="bta-lk-bo">
            <a class="logo_wb-bo" href=""><i class="fa fa-dharmachakra mgr_5"></i> Maj</a>
        </div>
    </div>
</div>