<div class="d-flex flex-column h-100 flex-grow-1 overflow-auto">

    <div class="text-center fixed-top" data-controller="timer" data-timer-correction-value="false" data-timer-value-value="2024-10-18T12:21:50+02:00" data-timer-current-value="2024-10-18T12:21:50+02:00" data-timer-text-end-value="Votre temps est écoulé" data-timer-page-id-value="323586">
    </div>

    <div class="position-relative flex-grow-1">

        <div id="questionnaire_container" class="px-0 h-100">
            <div class="d-flex align-items-end flex-column" style="min-height: 100%;">
                <header id="questionnaire_header" class="d-flex w-100 flex-wrap justify-content-center">
                    <div class="flex-grow-1 text-center text-md-start mb-3">
                        <img id="questionnaire_logo" class="img-fluid" src="https://app.evalandgo.com/files/img_user/admin_459722/d-dunod-2019.png" alt="Logo Questionnaire">
                    </div>

                    <div class="my-auto px-4 text-center mb-3">
                        <h1 class="questionnaire-title ">
                            L'IA au service du marketing
                        </h1>



                        <div id="questionnaire_progression_gauge" class="d-flex mx-auto my-4 text-center">
                            <span class="questionnaire_step d-inline-block my-auto flex-fill rounded border active bg-secondary"></span>
                            <span class="questionnaire_step d-inline-block my-auto flex-fill rounded border bg-secondary"></span>
                            <span class="questionnaire_step d-inline-block my-auto flex-fill rounded border bg-secondary"></span>
                            <span class="questionnaire_step d-inline-block my-auto flex-fill rounded border bg-secondary"></span>
                            <span class="questionnaire_step d-inline-block my-auto flex-fill rounded border bg-secondary"></span>
                            <span class="questionnaire_step d-inline-block my-auto flex-fill rounded border bg-secondary"></span>
                            <span class="questionnaire_step d-inline-block my-auto flex-fill rounded border bg-secondary"></span>
                            <span class="questionnaire_step d-inline-block my-auto flex-fill rounded border bg-secondary"></span>
                            <span class="questionnaire_step d-inline-block my-auto flex-fill rounded border bg-secondary"></span>
                            <span class="questionnaire_step d-inline-block my-auto flex-fill rounded border bg-secondary"></span>
                            <span class="ms-3 small fw-medium">1/10</span>
                        </div>
                    </div>
                </header>

                <div id="questions_container" class="w-100 h-100 ">
                    <form name="page" method="post" data-turbo="false">



                        <input type="hidden" id="page_timer" name="page[timer]" value="553">

                        <fieldset class="mb-3"><div id="page_responses"><fieldset id="question_1710395" class="mb-3"><div id="page_responses_0" class="app_question unique required" data-id="1710395">    <div class="questionnaire-question-title">

                                            <legend class="ck-content text-break questionnaire-question-label col-form-label"><p>Comment percevez-vous l'IA dans votre vie quotidienne ?</p></legend>


                                        </div>

                                        <div id="page_responses_0_response"><fieldset class="mb-3">            <div id="page_responses_0_response_choice" data-controller="question-choice" data-size="data-size" class="">


                                                    <div class="question-choice-col col d-flex">
                                                        <label class="questionnaire-block position-relative btn text-start d-flex align-items-center flex-grow-1 app_question_choice  btn-theme custom-radio" for="page_responses_0_response_choice_3777955">
                                                            <input class="form-check-input mt-0 flex-shrink-0" type="radio" id="page_responses_0_response_choice_3777955" name="page[responses][0][response][choice]" value="3777955">
                                                            <div class="ck-content overflow-hidden ps-2 pe-3 text-break">
                                                                <p>A. Je n'y pense pas vraiment, cela ne semble pas pertinent pour moi.</p>
                                                            </div>


                                                        </label>
                                                    </div>



                                                    <div class="question-choice-col col d-flex">
                                                        <label class="questionnaire-block position-relative btn text-start d-flex align-items-center flex-grow-1 app_question_choice  btn-theme custom-radio" for="page_responses_0_response_choice_3777956">
                                                            <input class="form-check-input mt-0 flex-shrink-0" type="radio" id="page_responses_0_response_choice_3777956" name="page[responses][0][response][choice]" value="3777956">
                                                            <div class="ck-content overflow-hidden ps-2 pe-3 text-break">
                                                                <p>B. Je suis sceptique et préfère éviter de l'utiliser autant que possible.</p>
                                                            </div>


                                                        </label>
                                                    </div>



                                                    <div class="question-choice-col col d-flex">
                                                        <label class="questionnaire-block position-relative btn text-start d-flex align-items-center flex-grow-1 app_question_choice  btn-theme custom-radio" for="page_responses_0_response_choice_3777957">
                                                            <input class="form-check-input mt-0 flex-shrink-0" type="radio" id="page_responses_0_response_choice_3777957" name="page[responses][0][response][choice]" value="3777957">
                                                            <div class="ck-content overflow-hidden ps-2 pe-3 text-break">
                                                                <p>C. Je l'utilise en combinaison avec mon jugement personnel pour améliorer mes tâches.</p>
                                                            </div>


                                                        </label>
                                                    </div>



                                                    <div class="question-choice-col col d-flex">
                                                        <label class="questionnaire-block position-relative btn text-start d-flex align-items-center flex-grow-1 app_question_choice  btn-theme custom-radio" for="page_responses_0_response_choice_3777958">
                                                            <input class="form-check-input mt-0 flex-shrink-0" type="radio" id="page_responses_0_response_choice_3777958" name="page[responses][0][response][choice]" value="3777958">
                                                            <div class="ck-content overflow-hidden ps-2 pe-3 text-break">
                                                                <p>D. Je l'adopte pleinement, cherchant constamment les dernières innovations.</p>
                                                            </div>


                                                        </label>
                                                    </div>

                                                </div>

                                                <div class="min_error_box text-danger"></div>
                                                <div class="max_error_box text-danger"></div>
                                            </fieldset></div>



                                    </div>        </fieldset></div>        </fieldset>


                        <div id="form_navigation" class="d-flex justify-content-between flex-row-reverse mb-4">
                            <button class="btn btn-primary questionnaire-nav-btn" type="submit">
                                Suivant
                            </button>

                        </div>

                    </form>
                </div>


                <footer class="mt-auto w-100 text-center py-2" style="line-height: 1rem; font-size: 0.8rem">
                    <p class="mt-2">

                    </p>


                    <div class="pt-4 text-center" style="font-size: 0.75rem">
                        <div>
                            <a href="#" data-controller="modal" data-modal-url-value="/reporting/168537/report" data-modal-target-value="#modal_reporting_quiz" data-modal-title-value="Signalement de contenu inapproprié" data-action="modal#loadForm" data-modal-type-value="valid">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Signaler ce contenu
                            </a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_reporting_quiz" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close mt-1 ms-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_missing_cookie" tabindex="-1" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ouvrir dans un nouvel onglet</h5>
            </div>

            <div class="modal-body">
                <p>Il semblerait que nous rencontrons un problème pour charger le questionnaire. Veuillez essayer d'ouvrir le questionnaire dans un nouvel onglet en cliquant <a href="https://app.questionnaireweb.com/f/168537/4pitiCprtdCsT8wEoTq6sy" target="_blank">ici</a>.
                </p>
            </div>
        </div>
    </div>
</div>