{% block body %}
    <div class="fx_wb-c">
        {{ include('pwa/ptn_elements/ele_customer/infocustomer.html.twig') }}
    </div>
{%  endblock body %}
{% use('js/js_account.html.twig') %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}