<div style="height:100%;margin:0;padding:0;width:100%;background-color:#fafafa">

    <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="Table" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#fafafa">
            <tbody><tr>
                <td align="center" valign="top" id="Cell" style="height:100%;margin:0;padding:10px;width:100%;border-top:0">


                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;max-width:600px;border:0">
                        <tbody><tr>
                            <td valign="top" id="Preheader" style="background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"></td>
                        </tr>
                        <tr>
                            <td valign="top" id="templateHeader" style="background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:0"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                    <tbody>
                                    <tr>
                                        <td valign="top" style="padding:9px">
                                            <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">

                                                        <a href="https://affichange.com/" title="" target="_blank">
                                                            <img align="center" alt="" src="https://gallery.affichange.com/images/affirond.png" width="251.60000000000002" style="max-width:370px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none">
                                                        </a>

                                                    </td>
                                                </tr>
                                                </tbody></table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                        </tr>
                        <tr>
                            <td valign="top" id="templateBody" style="background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:2px solid #eaeaea;padding-top:0;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                    <tbody>
                                    <tr>
                                        <td valign="top" style="padding-top:9px">



                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="TextContentContainer">
                                                <tbody><tr>

                                                    <td valign="top" class="TextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">

                                                        <p dir="ltr" style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left"><span style="color:#000000">Bonjour !</span></p>

                                                        <p dir="ltr" style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left"><span style="color:#000000"voici un petit texte qui ressemble à rien</span><a href="https://affichange.com/legal/terms/" style="color:#007c89;font-weight:normal;text-decoration:underline" target="_blank"><span style="color:#000000">conditions d'utilisation</span></a><span style="color:#000000"> (STOU), </span><a href="https://affichange.com/legal/privacy/" style="color:#007c89;font-weight:normal;text-decoration:underline" target="_blank"><span style="color:#000000">Confidentialité</span></a><span style="color:#000000">, et </span><a href="https://affichange.com/legal/data-processing-addendum/" style="color:#007c89;font-weight:normal;text-decoration:underline" target="_blank"><span style="color:#000000"> aussi taratata</span></a><span style="color:#000000"> blabal. et merci encore d'etre venu.</span></p>

                                                        <p dir="ltr" style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left"><span style="color:#000000">Une petite liste maintenant:&nbsp;</span></p>

                                                        <ul>
                                                            <li dir="ltr">
                                                                <p dir="ltr" role="presentation" style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left"><span style="color:#000000">Liste une.&nbsp;</span></p>
                                                            </li>
                                                            <li dir="ltr">
                                                                <p dir="ltr" role="presentation" style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left"><span style="color:#000000">Liste deux.</span></p>
                                                            </li>
                                                            <li dir="ltr">
                                                                <p dir="ltr" role="presentation" style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left"><span style="color:#000000">Liste trois.&nbsp;</span></p>
                                                            </li>
                                                        </ul>

                                                        <p dir="ltr" style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left"><span style="color:#000000">meric d'etre venu</span></p>

                                                        <p dir="ltr" style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left"><span style="color:#000000">on vous aime tres fort </span><a href="mailto:legal@affichange.com" style="color:#007c89;font-weight:normal;text-decoration:underline" target="_blank"><span style="color:#000000">legal@mailchimp.com</span></a><span style="color:#000000">.&nbsp;</span></p>

                                                        <p dir="ltr" style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left"><span style="color:#000000">Merci pour tout.&nbsp;</span></p>

                                                        <p dir="ltr" style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left"><span style="color:#000000">Best regards,</span></p>

                                                        <p dir="ltr" style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left"><span style="color:#000000">Affichange, la team</span></p>

                                                    </td>
                                                </tr>
                                                </tbody></table>



                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                        </tr>
                        <tr>
                            <td valign="top" id="templateFooter" style="background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="DividerBlock" style="min-width:100%;border-collapse:collapse;table-layout:fixed">
                                    <tbody>
                                    <tr>
                                        <td style="min-width:100%;padding:10px 18px 25px">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top:2px solid #eeeeee;border-collapse:collapse">
                                                <tbody><tr>
                                                    <td>
                                                        <span></span>
                                                    </td>
                                                </tr>
                                                </tbody></table>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                    <tbody>
                                    <tr>
                                        <td valign="top" style="padding-top:9px">



                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="TextContentContainer">
                                                <tbody><tr>

                                                    <td valign="top" class="m_1483058902539131246mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center">

                                                        <em>Copyright © AffiChnaGe, tous droits réservés</em><br>
                                                        <br>
                                                        <strong>Notre adresse:</strong><br>
                                                        AffiChange<br>
                                                        3, rue de la traqnuillité<br>
                                                        Bouaye<br>
                                                        44830, France<br>
                                                        <br>
                                                        Vous avez recçu ce message car vous avez un compte AffiChange et que vous demandez la notification des modifications.
                                                    </td>
                                                </tr>
                                                </tbody></table>



                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                        </tr>
                        </tbody></table>


                </td>
            </tr>
            </tbody></table>
    </center><div class="yj6qo"></div><div class="adL">
    </div></div>