<div class="tglaff w100" id="tgl_0">
    <div class="list_messagerie">
         {{ include('aff_customer/privateconvers/view/list_privatemsgs.html.twig') }}
    </div>
</div>
<div class="tglaff w100" id="tgl_1" style="display: none">
   {{include('aff_customer/privateconvers/view/listcontact.html.twig')}}
</div>
<div class="tglaff w100" id="tgl_2" style="display: none">
    {{ include('aff_customer/privateconvers/form/formmsgMber.html.twig') }}
</div>







