{# menu version desk #}
<div class="affibody">
    <div class="vagdesk">
        <div class="center_mdp_logo_mb_ext-p">
            <div  class="block-aboslute-desk-vague2" style="background-image:url('{{asset('imgdoc/potins/logopotins.png') }}');"></div>
        </div>
    </div>
</div>
