{% block body %}
    {% for message in app.flashes('resetting_error') %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endfor %}
    <p>Oups !!!</p>
    <h2>email introuvable</h2>
    <div class="span4">
        <h4>renseignez votre adresse mail</h4>
        <em>
            Compléter le formulaire, un email vous seras envoyé.<br/>
            Il contiendra la procèdure à suivre pour récupérer votre mot de passe.
        </em>
    </div>
    <div class="span4 offset2">
        <form action="{{ path('forgetpassword_send_email') }}" method="POST"
              class="fos_user_resetting_request">
            <div>
                <label for="email">votre email</label>
                <input type="text" id="email" name="email" required="required"/>
            </div>
            <br/>

            <div>
                <input type="submit" class="btn btn-primary" value="Envoyer"/>
            </div>
        </form>
    </div>


{% endblock %}
