{% block body %}
    <div class="container-bo_v5">
       {# {{ include('desk/ptn_office/menu/websitemenu.html.twig') }} #}
        <section class="_wb-ospace">
            {{ include('desk/ptn_elements/ele_gpreviews/form/editformule.html.twig') }}
        </section>
    </div>
{% endblock %}
{% use "js/js_website.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

