{% block body %}
<div class="_wb">
    <div class="container_bo_member">
        {{ include('desk/ptn_office/menu/websitemenu.html.twig') }}
        <section class="bo_content">
            <div class="head-wb-space"></div>
        <!-- affiches du board customer -->
        {{ include('desk/ptn_office/review/listreviews.html.twig') }}
        </section>
    </div>
</div>
{%  endblock body %}
{% use "js/js_gpreview.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}