{# templates/escape/garden.html.twig #}
{% block body %}
<div class="_wb">
    <div class="container_bo_member">
        <div class="bo_content">
            {{ include('pwa/escape/newtemplate/escape_build.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
{% use "js/js_escape_act.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
