{% extends 'pwa/escape/basepublic.html.twig' %}

{% block body %}
    <main class="public-list">
        <h1>🌍 Escape Games publiés</h1>

        {% if games is empty %}
            <p>Aucun escape game n’a encore été publié.</p>
        {% else %}
            <ul class="escape-list">
                {% for g in games %}
                    <li>
                        <strong>{{ g.title }}</strong>  :
                        <a href="{{ path('escape_public_view', { 'id': g.id }) }}">Jouer à son escape</a>
                        <a href="{{ path('wizard_overview', { 'id': g.id }) }}">modifier</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </main>
{% endblock %}
