{% extends '../basepublic.html.twig' %}

{% block body %}
    <main class="register-container">
        <h1>👤 Crée ton espace d’escape game</h1>
        <form method="post" action="{{ path('participant_register') }}">
            <label>Ton prénom ou pseudo :</label><br>
            <input type="text" name="prenom" required><br><br>

            <label>Code atelier (fourni par l’animateur) :</label><br>
            <input type="text" name="code_atelier" required><br><br>

            <label>Choisis ton code secret (4 chiffres) :</label><br>
            <input type="password" name="code_secret" pattern="\d{4}" maxlength="4" required><br><br>

            <button type="submit">Commencer mon escape game</button>
        </form>
    </main>
{% endblock %}
