
<div class="content"><!--<span style="color:white;">-->
    <h2>Confidentialité
    </h2>
    <h3>Données personnelles
    </h3><br>
    <p></p>

    <p>

        AFFICHANGE s’engage à collecter, traiter et utiliser les données relatives aux personnes dans le respect des dispositions légales applicables relatives à la protection des données. Les données collectées lors de l’inscription ou dans le cadre de l’utilisation du SITE affichange.com sont indispensables au bon fonctionnement des SERVICES proposés par la Société.</p>
    <br><p>Conformément aux dispositions de la Loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, AFFICHANGE a procédé à une déclaration à la CNIL sous le numéro 1721534 (Commission Nationale Informatique et Liberté.
        L’Utilisateur sait et reconnaît qu’il est amené à fournir des informations le concernant lorsqu’il s’inscrit sur le Site et souscrit aux Services proposés par la Société. Certaines informations sont mêmes obligatoires, notamment celles permettant l’identification de l’Utilisateur. Les informations personnelles recueillies par la Société incluent notamment le nom, le prénom, l’adresse email et peuvent inclure également, l’adresse postale, la nature de la personne inscrite (particulier, association, entreprise), le numéro d’identification de l’entreprise, le numéro de téléphone fixe et/ou portable, les informations bancaires, une ou des photographie(s), une ou des annonce(s) vocale(s), vidéo(s), les centres d’intérêt et l’utilisation du Site.</p>
    <br><p>
        En outre, certaines informations non personnelles peuvent être recueillies comme la version du navigateur de l’Utilisateur (Chrome, Firefox, Internet Explorer, etc.), le type de système d’exploitation utilisé (Windows, Mac os, etc.) et l’adresse IP de l’ordinateur utilisé.</p>
    <br><p>
        Les Membres disposent d’un droit d’accès aux données qui les concernent, ainsi que d’un droit de modification, de rectification et de suppression de celles-ci. Il leur suffit, pour exercer ce droit, d’envoyer un mail à l’adresse : (contact@affichange.com), ou d’adresser un courrier postal aux coordonnées suivantes :
        AFFICHANGE - Gestion des données personnelles 15 rue Alexandre Fourny 44200 NANTES. </p>
    <br>
    <p>

        <strong>Les données personnelles relatives aux utilisateurs, recueillies par l'intermédiaire des formulaires, et toutes informations futures, ne sont destinées qu'à l’usage exclusif de AFFICHANGE dans le cadre de la mise en œuvre des SERVICES offerts aux Membres, et ne font l’objet d’aucune communication ou cession à des tiers, autres que les annonceurs partenaires de AFFICHANGE dans le cadre du SERVICE ainsi que d’éventuels prestataires dont le recours est rendu nécessaire pour la fourniture du SERVICE, sauf autorisation explicite de l’adhérent.</strong></p>


    <h2>Cookies</h2>
    <p>
        Les cookies utilisés par AFFICHANGE ont pour but de permettre d’identifier le Membre lors de sa venue sur le Site, d'afficher son Identifiant et de son indice de notoriété, ainsi que pour l’identifier lors d’actions effectués chez des sites partenaires ou dans le cadre de programmes  d’affiliation.</p>
    <br><p>

        L’Utilisateur est informé de sa possibilité de s’opposer à l’enregistrement de cookies en configurant son navigateur en conséquence. Cependant, l’utilisation du site peut dès lors en être perturbée.</p>
    <br><p>

        Chaque Utilisateur peut, lors de son inscription ou à tout moment ultérieurement, demander à recevoir des offres par email portant sur les Services fournis par la Société et ses partenaires.
        Ultérieurement, chaque Utilisateur peut demander gratuitement à la Société de recevoir ou ne pas recevoir la newsletter de la Société et/ou les offres promotionnelles qui lui sont adressées par email de la part de la Société et/ou de ses partenaires en gérant ses options dans son Compte Personnel.</p>
    <br><p>
        Toutes les précautions ont été prises sur les bases de données pour archiver les informations des Utilisateurs dans un environnement sécurisé. Seuls certains  salariés de la Société ou de toute autre société mandatée par elle ou appartenant au même Groupe ont accès à ces informations, qui ne leur sont accessibles qu’en cas de besoin.<br>Les informations personnelles fournies par l’Utilisateur au moment de son inscription ne constituent pas une annonce accessible à des tiers, ni transmises, ni vendues ou échangées, sauf dans les cas visés ci-dessous et sous réserve de son information préalable et de son accord préalable, ou à défaut d’opposition de sa part.<br>
        La société est susceptible de faire parvenir à l’Utilisateur sous réserve de son libre accord préalable au moment de l’inscription et sauf s’il s’y oppose ultérieurement, des offres promotionnelles de la Société.


    </p>
    <h2>Décharge de responsabilité
    </h2>
    <p>
        L’Utilisateur reconnaît que, d’une manière générale et en l’état de la technique actuelle, chaque fois qu’il fournit des informations personnelles en ligne, ces informations peuvent être collectées et utilisées par des tiers.
        Par conséquent, l’Utilisateur décharge la Société de toute responsabilité ou conséquence dommageable de l’utilisation par des tiers des informations échangées par le biais des outils de communication proposés par le Site.


    </p></p>
    <br><p></p>
</div>
</div>
</div>
<!--</div>-->
</div>

<!-- warpperTemoignages-->
<div class="warpperTemoignages2">
    <div class="container">
        <div class="row bloc2">
            <div class="col-md-12"><span class="cgu">AffiChange en quelques mots...</span> </div>

            <div class="col-lg-10 col-lg-offset-1">
                <div class="temoignage">
                    <span class="date"><br><br>Inscription</span>
                    <p>
                        Pour accéder aux fonctionnalités du Site Internet Affichange.com ou à d'autres éléments des Services, vous devez vous inscrire sur le Site internet.</p>
                    <a href="http://affichange.com/register/" class="plus">s'inscrire</a>
                </div>
                <div class="temoignage">
                    <span class="date">Carnet de liaison</span>
                    <p>Remplacer votre carnet papier par un outil dynamique et intéractif. Avec votre liaison en ligne, offrez plus de réactivité et d’accessibilité au différents intervenants et à la famille. Avec le carnet de liaison en ligne, disposez d’un espace personnel et confidentiel pour :<br>
                    <ul><li>
                            Suivre et partager les liaisons de votre accompagnement avec la famille et les aidants.</li><li>Fédérer les proches, la famille autour de l’aidé,  malgré l’éloignement, donner un lien pour échanger et partager les évenements familiaux...</li><li>Interagir avec les aidants, organisez les passages, relatez vos activités, publiez vos commentaires, alerter en temps réel...</li></ul></p>
                    <a href="http://affichange.com/register/" class="plus">s'inscrire</a>
                </div>
            </div>
            <div class="col-lg-10 col-lg-offset-1">
                <div class="temoignage">
                    <span class="date">Votre compte</span>
                    <p>Aidant familial, auxiliaire de vie, prestataire de services, famille et proche, Affichange vous propose des formules <strong> à partir de 0€ </strong>pour suivre un proche, vous informer et partager vos expériences sur les espaces de publications. Vous voulez offrir plus de visibilité à vos annonces, ouvrir vos carnets de liaison pro, disposez d'un service d'assistance en ligne, une formation sur site...contactez le  0.785.977.866. un conseiller répond à vos attentes. Service gratuit.</p>
                    <a href="http://affichange.com/register/" class="plus">inscrivez-vous</a>
                </div>
                <div class="temoignage">
                    <span class="date">Vos annonces et panneaux d'information</span>
                    <p>Publiez gratuitement vos annonces sur AffiChange. Particulier à la recherche d'une aide, d'un prestataire ou professionnel pour proposer vos services, vous faire connaitre. Animateur, auxiliaire de vie, etudiant, formateur...publiez vos articles sur le réseau, ouvrez des panneaux entre membres pour partager vos expériences, vos idées et projets. Inscrivez-vous et publiez, c'est Gratuit.</p>
                    <a href="http://affichange.com/register/" class="plus">Inscrivez-vous</a>
                </div>
            </div>
        </div>
    </div><!-- container-->
</div>