<div class="menu-bo_sp">
    <div class="pop-tab_menu _cl-cl">
        <div class="af_flx-C">
            {#
            <div class="bubble-menu-litt-rock mn-border actsel ">
                {{ include('aff_website/navigation/buttonlogolinkwebsite.html.twig') }}

            </div>
            #}
            <div class="bubble-menu-litt-rock mn-border actsel">
                <div class="button-wp">
                    <a class="pop_button" href="">Tous les Messages du panneau
                        <i class="fa fa-flag"></i>
                    </a>
                </div>
            </div>
            {#
            <div class="bubble-menu-litt-rock mn-border {{ vartwig.m3 ? "actsel" :"" }}">
                <div class="button-wp">
                    <button class="pop_button">actualité
                        <i class="fa fa-flag"></i>
                    </button>
                </div>
            </div>
            <div class="bubble-menu-litt-rock mn-border{{ vartwig.m4 ? "actsel" :"" }}">
                <div class="button-wp">
                    <button class="pop_button">actualité
                        <i class="fa fa-flag"></i>
                    </button>
                </div>
            </div>
            <div class="bubble-menu-litt-rock mn-border{{ vartwig.m5 ? "actsel" :"" }}">

                <div class="button-wp">
                    <button class="pop_button">actualité
                        <i class="fa fa-flag"></i>
                    </button>
                </div>

            </div>
            #}
        </div>
    </div>
</div>