<form name="contact_form">
    <div class="convers">
        <label for="content"></label>
        <textarea id="content" name="content" class="conversarea" placeholder="repondre"></textarea>
        <div class="conversend">
            <i class="fab fa-telegram-plane" id="convers-go"></i>
        </div>
    </div>
</form>