<div class="board-r surimp-abs">
    <div class="manos">
        <div class="stape_board_bulle stp_b_orange">
            <div class="stape_bull" id="blowbubble"><i class="far fa-comment-dots"></i></div>
        </div>
        <div class="stape_board_bulle .stp_b_orangelight">
            <div class="stape_bull"> {{post.nbreponse}}</div>
        </div>
    </div>
    <div class="manos">
        <div class="stape_board_bulle stp_b_orange">
            <div class="stape_bull"><i class="far fa-eye"></i></div>
        </div>
        <div class="stape_board_bulle .stp_b_orangelight">
            <div class="stape_bull"> {{post.nbrvieuw}}</div>
        </div>
    </div>
</div>