{% block body %}
<div class="log-machina_mob">
    <div class="svg-bulle_open">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">{# <circle cx="100" cy="100" r="80"/>#}</svg>
        <div class="content_login_affi">
            <div class="stape">
                <h2>Votre espace AffiChanGe est maintenant ouvert.</h2>
            <p>Vous disposez des droits d'administration du panneau {{ website.namewebsite }}</p>
            </div>
            <a href="{{ path('show_website',{'city':website.locality.slugcity,'nameboard':website.slug}) }}" class="btn-send">voir le panneau</a>
        </div>
    </div>
</div>
{% endblock %}
{% use "js/js_security.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}