<!DOCTYPE html>
<html lang="FR">
<head>
    {% block head %}
        <title>{% block title %}{{vartwig.title}}{% endblock %}</title>
        {{ include('head/head_ra.html.twig') }}
    {% endblock head %}
        {{ encore_entry_link_tags('app') }}
</head>
<body>
{% block menu %}
{% endblock menu %}
{% block core %}
    {% block body %}
    {% endblock body %}
    {% block footer %}
    {% endblock footer %}
{% endblock core %}
{% block javascripts %}
{% endblock %}
</body>
</html>
