{% block body %}
<div class="ar-wrapper">
    {% set value = switch %}
    {% if value == 'lotus' %}
        {{ include('pwa/ar/'~directory~'/lotus.html.twig') }}
    {% elseif value == 'createur' %}
        {{ include('pwa/ar/'~directory~'/createur.html.twig') }}
    {% else %}
        <p>value is something else</p>
    {% endif %}
</div>
{% endblock %}
