<section class="container mx-auto p-4" data-controller="mindar-create">
    <h1>Créateur Jardin Zen</h1>


    <form class="space-y-4">
        <label class="block">Modèle 3D</label>
        <select data-mindar-create-target="model">
            <option value="/build/models/lotus.glb">Lotus</option>
            <option value="/build/models/rock.glb">Pierre</option>
            <option value="/build/models/bamboo.glb">Bambou</option>
        </select>


        <label class="block">Son</label>
        <select data-mindar-create-target="sound">
            <option value="">(aucun)</option>
            <option value="/build/audio/forest.mp3">Forêt</option>
            <option value="/build/audio/water.mp3">Eau</option>
        </select>


        <label class="block">Fichier cible (.mind)</label>
        <input type="file" accept=".mind" data-mindar-create-target="mindfile" />


        <button type="button" data-action="mindar-create#preview" class="btn">Prévisualiser</button>
        <button type="button" data-action="mindar-create#save" class="btn btn-primary">Enregistrer la scène</button>
    </form>


    <hr class="my-6" />


    <div id="preview" class="border rounded p-2">
        <!-- La scène A‑Frame de prévisualisation est injectée par Stimulus -->
    </div>
</section>
