{% block title %}{{ mode == 'edit' ? 'Modifier' : 'Créer' }} un événement{% endblock %}
{% block body %}
    <div class="_wb">
        <div class="container_bo_member">
            {#  {{ include('pwa/escape/landing/slideleft.html.twig') }} #}
            <div class="bo_content">
                {{ include('desk/ptn_office/agenda/form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
{% use "js/js_agenda.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
