<div class="content-form-calendar">
    <div class="inline-flexouz_mb" data-dateslect="all">
        <h6>horaire pour toutes les dates : </h6>
        <div class="grid-time_hrz_mob">
            <div class="t1_mob">
                <div id="heurefinall" class="form-inline">
                    <label for="appt-time-deb"></label><i>heure debut : </i><input id="appt-time-deb" type="time" name="appt-time-deb" value="08:30">
                </div>
            </div>
            <div class="t1_mob">
                <div id="heurefinall" class="form-inline">
                    <label for="appt-time-end"></label><i>heure fin : </i><input id="appt-time-end" type="time" name="appt-time-end" value="18:00">
                </div>
            </div>
        </div>
        <button class="btn btn-secondary" id="submitclokAll">validez</button>
    </div>

    <div class="zn-tab_mob tab-active">
        <h5>Sélectionnez vos jours d'ouverture de la semaine</h5>
        <ul class="tab-selectdate-day_mob">
            <li class="listweek-block">
                <button class="thisday-block" data-dateday="Lun">Lundi</button>
                <div class="tab_mob_select-day tab-selectdate_timeday_Lun"></div>
            </li>
            <li class="listweek-block_mob">
                <button class="thisday-block" data-dateday="Mar">Mardi</button>
                <div class="tab_mob_select-day tab-selectdate_timeday_Mar"></div>
            </li>
            <li class="listweek-block">
                <button class="thisday-block" data-dateday="Mer">Mercredi</button>
                <div class="tab_mob_select-day tab-selectdate_timeday_Mer"></div>
            </li>
            <li class="listweek-block">
                <button class="thisday-block" data-dateday="Jeu">Jeudi</button>
                <div class="tab_mob_select-day tab-selectdate_timeday_Jeu"></div>
            </li>
            <li class="listweek-block">
                <button class="thisday-block" data-dateday="Ven">Vendredi</button>
                <div class="tab_mob_select-day tab-selectdate_timeday_Ven"></div>
            </li>
            <li class="listweek-block">
                <button class="thisday-block" data-dateday="Sam">Samedi</button>
                <div class="tab_mob_select-day tab-selectdate_timeday_Sam"></div>
            </li>
            <li class="listweek-block">
                <button class="thisday-block" data-dateday="Dim">Dimanche</button>
                <div class="tab_mob_select-day tab-selectdate_timeday_Dim"></div>
            </li>
        </ul>
        <ul class="tab-selectdate_timeday">
        </ul>
    </div>

</div>


