<h2 class="_tit-admin">vue général</h2>
<div class="fx-content">
    {{ include('aff_websiteadmin/parameters/view/mobile/tabbord.html.twig') }}
    {{ include('aff_websiteadmin/parameters/view/mobile/testmodule.html.twig') }}
    {#
    <h3 class="_title til_mdl">module actuellement en service :</h3>
    {{ include('aff_websiteadmin/parameters/view/genery.html.twig') }}

    #}
</div>

