<div class="info_bottom">
    <footer class="foot_affi_desk_v6">
        <h2>les potins numeriques</h2>
        <div class="lit-foot">Apprendre - s'amuser - produire</div>
        <p class="affi-foot">potinsnumeriques.fr © 2024 - tous droits réservés</p>
    </footer>
</div>