{% block body %}
<div class="pwa-pg-ptn">

    <div class="pwa-col">
        <div class="separator"></div>
        <h2>Nos prochains potins</h2>
        <p>découvrez une technologie, un logiciel, des loisirs numériques</p>

        <div class="content_mob_all">
                <div class="pwa-iner-col">
                    <x-Tag class="w-neutre"></x-Tag>
                </div>
        {% if events|length >0 %}
                {{ include('pwa/ptn_elements/ele_events/lasteventscity.html.twig') }}
        {%  else %}
                <div class="flex-board">
                    <div class="flex-notb_v6-fix">
                        <h3>  Pas de nouveau potins programmé actuellement</h3>
                    </div>
                </div>
        {% endif %}
        </div>
    </div>
</div>
{{ include('pwa/footer/potins_footer.html.twig') }}

{%  endblock body %}
{% use "js/js_public.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

