{% block body %}
<div class="_pg_ptn_mob">

    <div class="col_mob">
        <h2>les derniers potins numériques</h2>
        <p>Retour sur les potins réalisés, leurs ressources...</p>

        <div class="content_mob_all">
            <div class="iner_col_mob">
                <x-Tag class="w-neutre"></x-Tag>
            </div>
  {{ include('pwa/ptn_elements/ele_potins/lastnoticecity.html.twig') }}
        </div>

    {{ include ('pwa/footer/potins_footer.html.twig') }}
    </div>
</div>
{%  endblock body %}
{% use "js/js_public.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

