<section class="echange">
    <article class="inscription_menus_desk">
        <h1 class="title_article">
            Conditions générales d'utilisation de la plateform en ligne affichange.com
        </h1>
        <h2 class="the_question">Vous êtes un utilisateur, donc responsable de votre utilisation de nos services</h2>
        <div class="conditions_affi">
            <p>En vous inscrivant sur Affichange, vous souscrivez aux présentes conditions générales d'utilisation des services et au respect de la charte et reglement du site affichange.com.<a href="">conditions d'utulisation</a></p>
            <p>Le respect et la confidentialité de vos information personnelles sont une clause importante de nos conditions d'utilisation. Nous nous engageons dans le respect des loi et reglement en viguer (loi française) à respecter votre vie privé et à ne pas divulguer à notre initiative toutes informations personnelles vous concernant et renseigné dans votre profil. Toute fois nous attitons votre attention sur la nature des informations et des contenus que vous publiez sur la pateforme affichange qui est libre d'accès à tout utilisateur du service public affichange. Nous nous efforçons d'être vigilant quand au contenu publié, mais il restent en tout état de cause sous votre seule et unique responsabilité, tant sur une possible atteinte à votre vie privé, mais aussi quant à la véracité des propos que vous pouvez y tenir et la légalité des offres, propositions et toutes informations dans son sens le plus large que vous publiez et cela sans limite de temps ni de lieux. Voir pour plus d'information notre politique de confidentialité.<a href="">confidentialité</a></p>
        </div>


        <aside class="separator"></aside>

        <h4 class="ss_tit_art">L'inscription</h4>
        <p> Le formulaire d'inscription vous propose une serie de champs, certain obligatoire, pour vous permettre de vous identifier lors de l'utilisation des seervices, d'autres sont facultatives.</p>
        <aside class="separator"></aside>
        <h4 class="ss_tit_art">Votre référencement, c'aussi la qualité de votre profil</h4>
        <p>Au fil de l'utilisation de services du site affichange, vous pourrez enrichir votre profil pour optimiser votre réfernecment. Le choix de thématique, de produits, de marque, de localisation, de liens...<br>Autant d'information qui viendront nourrir vos contenus et permettrons d'optimiser automatiquement vos publications, alors n'hésitez pas à remplir ces champs dès que vous en aurez le temps!</br>.</p>
    </article>
    <aside class="separator"></aside>
    {{ include('public/page/desk/cgU.html.twig') }}
</section>