{% block body %}
<div class="log-machina_mob">
    <div class="svg-bulle_open">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">{# <circle cx="100" cy="100" r="80"/>#}</svg>
        <div class="content_login_affi">
            <div class="sous_connector">
                <h5 class="glass-field_identify">Suppression de votre mot de passe</h5>
                {{ form_start(resetForm) }}
                    {{ form_row(resetForm.plainPassword) }}
                    <button class="btn btn-primary">Reset password</button>
                {{ form_end(resetForm) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
