<div class="pg_other">
    <div class="pwa-board-list-replace">

        <nav class="pwa-other">
            <div class="nogo"><h3>et aussi</h3></div>
        </nav>

        <div class="flex-notb_v6">
            {% for otherpost in potins|slice(0, 6) %}
                <div class="pwa-last-potin">
                    {{include('pwa/ptn_elements/ele_boards/poppost.html.twig')}}
                </div>
            {% else %}
                <div class="affiche">
                    <div class="pwa-evnet-titre">pas d'autre potin actuellement !!</div>
                </div>
            {%  endfor %}
        </div>

    </div>
</div>