<div class="esp-1">
    <div class="act-ct">
        <div class="cbe-fx">
           <h2>Services</h2>
            <div class="tools-wb">
                <h2 class="_title til_mdl">{{ module.title }}</h2>
            </div>
        </div>
    </div>
</div>