<div class="cbe-fx4 cube-bd">
    <div class="cbe_cnt">
        <div class="c_i_b">
            <div class="in_cib">

            <div class="in-cib-lrg-tit">
                <h3 class="tit-cib-lg">Vos liens marketing</h3>
            </div>

                <div class="Rt3Tbf">
                    <p>ajoutez vos partenaires</p>
                </div>
                <div class="gAulCf">
                    <div class="bt-cub" role="button">
                        <div class="in_cibS-Vd"></div>
                        <div class="in_cibS-bot"></div>
                        <span class="in_cibS-spn1">
                            <span class="in_cibS-spn2">
                                <div class="in_cibS-svg">
                                    <svg></svg>
                                </div>
                                <span class="tit-cb">Ajoutez</span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>