<div class="_in-l-bb2_mb">
    {% if website.url is not null %}
    <div class="bta-lk_mb_v5">
        <a class="logo_wb" href="{{ website.url }}"><i class="fa fa-external-link" aria-hidden="true"></i>Site Web</a>
    </div>
    {% endif %}
</div>