<div class="bta-lk">
    <a class="logo_wb" href="{{ path('opendays_edit',{'slug':website.slug,'id':website.id}) }}"><i class="fas fa-clock"></i> Horaires</a>
</div>
<div class="bta-lk">
    <a class="logo_wb" href="{{ path('spaceweblocalize_init',{'slug':website.slug,}) }}"><i class="fa fa-compass" aria-hidden="true"></i> Localisation</a>
</div>
<div class="bta-lk">
    <a class="logo_wb" href="{{path('website_edit',{'slug':website.slug}) }}"><i class="fa fa-id-card" aria-hidden="true"></i></i> Profil</a>
</div>
