
<div id="newresa">
    <div class="bt-inf_v6">
        <a class="i-bt goa" href="{{ path('new_resa_website',{'slug':website.slug, 'id':website.id }) }}">
            <i class="fa fa-calendar-o"></i>
        </a>
    </div>
    <div class="logo_wb resa-activ">réservez !</div>
</div>