<div class="pwa-in-l-bb2">
    {% if  website.module.contactation.resa is defined %}
        <div class="pwa-bta-lk">
            <a class="logo_wb resa-activ" href="{{ path('new_resa_website',{'slug':website.slug, 'id':wbsite.id }) }}"><i class="fa fa-calendar-o" aria-hidden="true"></i>Reservez</a>
        </div>
    {% else %}
        <div class="pwa-bta-lk">
            <div class="logo_wb resa-noactiv bt-of"><i class="fas fa-calendar-alt"></i>Reservez</div>
        </div>
    {% endif %}
</div>