<div class="bta-lk">
    <a class="logo_wb" href="{{ path('new_postation',{'id' :website.id}) }}"><i class="fas fa-edit"></i> Postez</a>
</div>
<div class="bta-lk">
    <a class="logo_wb" href="{{ path('spaceweb_mod',{'id' :website.id}) }}"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> Modules</a>
</div>
