{% block body %}
<section class="_wb-admin_mob">
{{ include('aff_websiteadmin/parameters/view/'~agent~'/editopendays.html.twig') }}
</section>
{%  endblock body %}
{% use "js/js_edit_website.html.twig" %}
{% block javascripts %}
{{ parent() }}
{% endblock %}