<footer class="foot_affi_mob">
  {# <h2>Affichez, Parainez</h2>
    <div class="lit-foot">réseau public par localité</div>#}
    <p class="affi-foot">affichange © 2022 - tous droits réservés</p>
</footer>