<div class="cbe_cnt">
    <div class="c_i_b">
        <div class="in_cib">
            <div class="in-cib-lrg-tit">
                <div class="tit-cib-lg">Date(s) de l'atelier</div>
            </div>

            <div class="collapse2" >
                <div class="card-form">
                    <div class="white-tab">
                        <div class="calendar-affi">
                            <div class="lig-grid_day">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="white-tab" id="recapopendays"></div>
            </div>
        </div>
    </div>
</div>
