<div class="cbe_cnt">
    <div class="c_i_b">
        <div class="in_cib">
            <div class="in-cib-lrg-tit">
                <div class="tit-cib-lg">Définir une période de parution</div>
            </div>
                <div class="Rt3Tbf">
                    <div class="nX2Utf">
                        <span class="GlMVdd" aria-label="par défaut votre offre sera publiée dès validation et pour une période de 8 jours
    jour(s)">par défaut votre offre sera publiée dès validation et pour une période de 8 jours jour(s)</span>
                    </div>
                </div>
                <div class="bt-cub" role="button">
                    <div class="FKF6mc TpQm9d">
                    <div class="in_cibS-Vd"></div>
                    <div class="in_cibS-bot"></div>
                        <span class="in_cibS-spn1">
                        <span class="in_cibS-spn2 colapsaffi" data-afficolapse="calendar" data-toggle="collapse" data-target="#collapseCalendar" aria-expanded="false" aria-controls="collapseCalendar">
                            <span class="tit-cb">définir</span>
                        </span>
                    </span>
                    </div>
                </div>
            <div class="collapse" id="collapseCalendar">
                <div class="card-form">
                    <div class="white-tab">
                        <div class="calendar-affi">
                            <div class="lig-grid_day">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="white-tab" id="recapopendays"></div>
            </div>
        </div>
    </div>
</div>
