<div class="cbe_cnt">
    <div class="c_i_b">
        <div class="in_cib">

        <div class="in-cib-lrg-tit">
            <div class="tit-cib-lg">liens</div>
        </div>

            <div class="Rt3Tbf">
                <div class="nX2Utf">
                    <span class="GlMVdd" aria-label="par défaut votre offre sera publiée dès validation et pour une période de 8 jours
jour(s)">lien externe - parainage - affiLink (optionnel)</span>
                </div>
            </div>

            <div class="bt-cub" role="button">
                <div class="FKF6mc TpQm9d">
                <div class="in_cibS-Vd"></div>
                <div class="in_cibS-bot"></div>
                    <span class="in_cibS-spn1">
                    <span class="in_cibS-spn2 colapsaffi" data-afficolapse="link" data-toggle="collapse" data-target="#collapseLink" aria-expanded="false" aria-controls="collapseLink">
                        <span class="tit-cb">links</span>
                    </span>
                </span>
                </div>
            </div>
            <div class="collapse" id="collapseLink">
                <div class="card-form">
                    <div class="content-form-post">
                        <h5>Ajouter un lien externe (url)</h5>
                        <div class="white-tab">
                            <label for="urlprod">http(s)</label>
                            {%  set linkvalue = offre.product.urlproduct%}
                            {%  if linkvalue is same as('') or linkvalue is same as('1')  %}
                                <input type="url" class="urlprod link"  placeholder="https://example.com" size="50" name="urlprod" id="urlprod">
                            {% else %}
                                <input type="url" class="urlprod link" value="{{ linkvalue }}" placeholder="https://example.com" size="50" name="urlprod" id="urlprod">
                            {%  endif %}
                            <span class="error" aria-live="polite"></span>
                        <h5>Webshop affichange : Ajouter l'Id du produit</h5>
                            <label for="idprod"></label>
                            <input type="text" class="idprod" value="{{ offre.product.idproduct }}" name="idprod" id="idprod" pattern="[0-9]+">
                            <span class="error" aria-live="polite"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
