<a class="widget_event_card {#  _date color-event-1#}" href="{{ path('show_ressource',{'id':ressource.id}) }}">
    <div class="widget_inner-event">
          <h5>{{ ressource.titre  }}</h5>
    </div>
</a>


