<section class="ptn_content">
    {{ include('pwa/ptn_elements/ele_boards/link_bar_board.html.twig',{city:'null'}) }}
    {%  set ite = 0 %}
    {{ include('pwak/ptn_elements/ele_boards/listpotins.html.twig') }}
</section>