{% block body %}
        <div class="container_bo_member">
            <div class="escape_content">
                {{ include('pwa/escape/'~template) }}
            </div>
        </div>
{% endblock %}
{% use "js/js_escape.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
