<div class="wbsite-logo-inf">

    {% if board.template.logo %}
        <a  href="{{ path('show_board',{'slugboard':board.slug}) }}" class="wb_logo" style="background-image: url('{{ asset('spaceweb/template/'~board.template.logo.namefile ) }}')">
        </a>
    {% else %}
        <a href="{{ path('show_board',{'slugboard':board.slug}) }}" class="wb_logo" style="
                background-image: url('{{ asset('img/pinsaffi.png') }}')">
        </a>
    {% endif %}
</div>
