{% block body %}
<div class="fx_wb-c">
        {{ include('desk/ptn_elements/ele_customer/form_update.html.twig') }}
</div>
{%  endblock body %}
{% use "js/js_edit_customer.html.twig" %}
{% block javascripts %}
        {{ parent() }}
{% endblock %}