<p><strong>1. Définitions</strong></p>
<p> Chacun des termes mentionnés ci-dessous aura dans les présentes Conditions Générales de Vente du Service affichange (ci-après dénommées les « CGV ») la signification suivante :</p><br>

<p><strong>Annonce :</strong> désigne l'ensemble des éléments, signes et données (visuelles, textuelles, sonores, photographies,dessins), déposé par un Annonceur sous sa responsabilité éditoriale exclusive, en vue de proposer, rechercher, acheter, louer, vendre un service et diffusé sur le Site Internet.</p><br>

<p><strong>Annonceur :</strong> désigne toute personne physique ou personne morale, particulier, auto-entrepreneur, association ou société et ayant déposé une Annonce sur le Site Internet.</p><br>

<p><<strong>JOBINTREE SAS :</strong> désigne la société qui héberge le service « Jemepropose » et exploite le Site Internet, le Site Mobile et l'Application iPhone, SAS au capital de 576.721 euros, immatriculée au registre du commerce et des sociétés de Paris sous le numéro 500.746.268 dont le siège social est situé 8, rue Montesquieu 75001 Paris.</p><br>

<p><strong>Option(s) :</strong> modalité(s) d’affichage des Annonces telles que décrites ci-après aux articles 4, 5 et suivants des CGV.</p><br>

<p><strong>Service client :</strong> désigne le service de JOBINTREE SAS auprès duquel l'Annonceur peut obtenir toute information complémentaire. Ce service peut être contacté par e-mail en cliquant sur le lien « contactez-nous» présent sur le Site Internet.</p><br>

<p><strong>Service Jemepropose :</strong> désigne les services Jemepropose (disponible sous forme de plateforme d’Annonces) mis à la disposition des Utilisateurs et des Annonceurs sur le Site Internet tels que décrit ci-après à l’article 3.1 des Conditions Générales d’Utilisation du Site Internet.</p><br>

<p><strong>Site Internet :</strong>désigne le site Internet exploité par JOBINTREE SAS accessible principalement depuis l'URL www.jemepropose.com et permettant aux Utilisateurs et aux Annonceurs d'accéder via Internet au Service Jemepropose tel que décrit à l’article 3.1 des Conditions Générales d’Utilisation.</p><br>

<p><strong>Utilisateur :</strong> désigne tout visiteur, ayant accès au Service Jemepropose via le Site Internet et consultant le Service Jemepropose accessible depuis les différents supports.</p><br>

<p><strong>2. Objet</strong></p>

<p>Les présentes CGV établissent les conditions contractuelles exclusivement applicables à toute souscription par un Annonceur d'option(s) payante(s) depuis le Site Internet et depuis tout autre support sur lequel serai(en)t diffusée(s)les Annonces.</p><br>

<p><strong>3. Acceptation</strong></p>

<p>Toute souscription d'option(s) payante(s) par un Annonceur vaut acceptation pleine et entière des CGV en vigueur.</p><br>

<p><strong>4. Modalités de souscription aux options payantes</strong></p><br>

<p><strong>4.1 Règles générales</strong></p><br>

<p>Une option payante n'est souscrite que pour une seule Annonce. En conséquence, il n'est pas possible de transférer le bénéfice d'une option payante d'une Annonce à une autre Annonce.Il est possible de souscrire une ou plusieurs options payantes (ci-après « Option(s) ») pour une ou plusieurs Annonces telles que définies ci-dessous:

     « Annonce Plus » qui permet à l’Annonceur d’afficher des URL internet et des adresses mail dans le corps de

    son Annonce.

     « Annonce Premium » qui permet à l’Annonceur d’avoir un visuel 4 fois plus grand dans les listes de

    résultat, sur sa page Annonce ainsi que 8 photos supplémentaires et une remontée en tête de liste tous les

    15 jours.

     « Annonce Sponsorisée » qui permet à l’Annonceur d’être présent en tête de liste parmi l’ensemble des

    Annonces Sponsorisées d’une Catégorie et est détaillée à l’article 5 ci-après.

     « Annonce à la Une » qui permet à l’Annonceur d’être présent en colonne de droite de la liste de l’ensemble

    des Annonces d’une Catégorie sur toute la France.

     « Annonce UP » qui permet à l’Annonceur de faire ressortir son annonce dans une liste de résultat grâce à

    la présence d’un logo UP.

    Les Annonces sur le Site internet sont classées par ordre chronologique dans chacune des Catégories présentes sur

    ledit Site.

    La durée de souscription de ces Options peut être à durée déterminée Peut varier de 10 jours à 365 jours.

    Toute Annonce qui arriverait à échéance avant la fin de la durée de vie de l’Option en cours verra sa durée

    automatiquement prorogée.</p><br>

<p><strong>4.2 Souscription des Options payantes</strong></p><br>

<p>La souscription à toute Option payante se fait actuellement depuis le Site Internet et peut se faire soit au moment du

    dépôt d'Annonce ou soit à tout moment après le dépôt d’une Annonce.

    La souscription aux Options se fait depuis la page récapitulant le contenu de l'Annonce vers laquelle l'Annonceur est

    redirigé après sa rédaction et sa validation du formulaire de l'Annonce. Sur cette page récapitulative sont proposées

    à la souscription lesdites Options. Pour souscrire une ou plusieurs Option(s), il faut sélectionner la ou les option(s)

    payante(s) désirée(s) et le cas échéant la durée ou la périodicité de la ou des option(s) avant de « procéder au

    paiement ».

    Au cours de la diffusion de l'Annonce :

    L'Annonceur doit se rendre sur la page de son Profil et cliquer sur « modifier mon Annonce ». Il pourra alors

    sélectionner la ou les option(s) payante(s) et/ou modifier son Annonce.</p><br>

<p><strong>4.4 Durée et effet de la ou des Option(s)</strong></p><br>

<p>Les Options sont souscrites pour une durée de 10 (dix), 30 (trente) jours, 60 (soixante) jours, ou de 365 (trois cent

    soixante cinq) jours. Toute souscription à une Option aura pour effet de prolonger la durée de l’Annonce jusqu’à la

    date d’échéance de l’Option souscrite. La révocation d’une Option prendra effet à la date anniversaire mensuelle

    postérieure la plus proche de la date de révocation.

    Lors du retrait anticipé de l'Annonce (soit du fait de l'Annonceur, soit du fait de JOBINTREE SAS notamment en cas de

    contenu illicite et/ou contrevenant notamment aux règles de diffusion de l’article 8 des CGU) ou à l'expiration de sa

    durée de diffusion, l'Option cesse de produire ses effets.

    Dans l’hypothèse extraordinaire d’une Annonce modifiée pour cause de contenu illicite et/ou contrevenant aux

    règles de diffusion du Site précisées à l’article 8 des CGU alors celle-ci sera soumise à l’approbation préalable de

    JOBINTREE SAS et pourra être acceptée ou refusée à la diffusion et/ou de mise à disposition du public sur le Site

    Internet. En cas de refus par JOBINTREE SAS de diffuser l'Annonce modifiée, un email informant l'Annonceur du refus

    lui sera envoyé.</p><br>

<p><strong>4.5 Remboursement et Rétractation</strong></p><br>

<p><strong>Remboursement</strong></p>

<p>Si une Annonce ou une modification d'une Annonce est refusée par JOBINTREE SAS en raison de sa non-conformité

    aux règles de diffusion du Service Jemepropose (définies à l’article 8 des CGU), le montant de la ou des Option(s)

    souscrite(s) lors du dépôt ou de la modification de l'Annonce ne sera pas prélevé et un email sera adressé à

    l'Annonceur l'informant que son Annonce a été refusée par JOBINTREE SAS et ne sera pas diffusée.

    L'Annonceur reconnaît être parfaitement informé que toute Annonce déposée ou modifiée en cours de diffusion

    peut faire l’objet d’une demande de modification par JOBINTREE SAS laquelle fait l'objet après modification, d'une

    validation par JOBINTREE SAS.

    En revanche, si JOBINTREE SAS était contraint de supprimer l'Annonce en cours de diffusion en raison de sa non-
    conformité aux règles de diffusion du Service Jemepropose et notamment parce que son contenu a été,

    légitimement, signalé comme abusif, JOBINTREE SAS ne remboursera pas à l'Annonceur le montant de la ou des

    Option(s) souscrite(s) lors du dépôt ou de la modification de l'Annonce ainsi supprimée en cours de diffusion.

    Rétractation

    L'Annonceur particulier ayant souscrit une ou des Option(s) dispose en application de l'article L. 120-20 du code de la

    consommation d'un délai de sept (7) jours francs, à compter de la souscription aux Options pour exercer son droit de

    rétractation en adressant un e-mail auprès du Service client de JOBINTREE SAS. Il sera procédé par JOBINTREE SAS au

    remboursement de ladite souscription, par chèque ou par transfert bancaire, dans les 30 (trente) jours suivant

    réception de ladite demande de rétractation.

    Toutefois, tout Annonceur reconnait qu'il ne peut plus se rétracter et demander le remboursement de sa

    souscription à compter du moment où JOBINTREE SAS a commencé à exécuter ladite commande c'est-à-dire

    diffusion d’une ou de plusieurs Annonces selon Option(s) sur le Site Internet.</p><br>

<p><strong>5. Description des Options</strong></p><br>

<p><strong>5.1 Sponsoriser mon Annonce sur un Département:</strong></p>

<p>Cette Option ne peut être souscrite que depuis le Site Internet. Pour chaque Catégorie et Département, il est possible

    de « Sponsoriser une Annonce » à l’exception de Paris qui est considérée comme une ville.

    Cette Option permet à tout Annonceur qui y souscrit d’obtenir, en plus des affichages de son Annonce dans les listes

    de résultats naturels, des affichages supplémentaires dans la zone « Annonces Sponsorisées » en haut de liste d’un

    Département au sein de la Catégorie à laquelle appartient cette Annonce.

    Pour sponsoriser une Annonce en tête de liste, tout Annonceur doit se rendre sur la page de son Profil ou de son

    Annonce, puis de cliquer sur « Mettre en Avant ».

    Cette Option est payable uniquement par carte bancaire et sera facturée:

    - 39,90 € TTC (33,25 € HT) pour une durée de 30 (trente) jours

    - 71,80 € TTC (59,83 € HT) pour une durée de 60 (soixante) jours

    - 358,80 € TTC (299,00 € HT) pour une durée de 365 (trois cent soixante cinq) jours

    L'Annonce sera diffusée sur le Site Internet selon les modalités de l’Option choisie dans un délai usuel d’un jour

    ouvré.</p><br>

<p><strong>5.2 Sponsoriser mon Annonce sur une Ville:</strong></p>

<p>Cette Option ne peut être souscrite que depuis le Site Internet. Pour chaque Catégorie et Ville, il est possible de

    Sponsoriser une Annonce.

    Cette Option permet à tout Annonceur qui y souscrit d’obtenir, en plus des affichages de son Annonce dans les listes

    de résultats naturels, des affichages supplémentaires dans la zone « Annonces Sponsorisées » en haut de liste d’une

    ville, au sein de la Catégorie à laquelle appartient cette Annonce.

    Pour sponsoriser une Annonce en tête de liste, tout Annonceur doit se rendre sur la page de son Profil ou de son

    Annonce, puis de cliquer sur « Mettre en Avant ».

    Pour les villes qui sont découpées en arrondissement, la publication de l’annonce sera localisée dans un

    arrondissement.

    Cette Option est payable uniquement par carte bancaire et sera facturée:

     Pour les villes où moins de 400 annonces sont publiées :

    - 18,90 € TTC (15,75 € HT) pour une durée de 30 (trente) jours

    - 33,80 € TTC (28,17 € HT) pour une durée de 60 (soixante) jours

    - 178,80 € TTC (149,00 € HT) pour une durée de 365 (trois cent soixante cinq) jours

     Pour les villes où sont publiées au moins 400 annonces et moins de 1.000 annonces:

    - 23,90 € TTC (19,92 € HT) pour une durée de 30 (trente) jours

    - 39,80 € TTC (33,17 € HT) pour une durée de 60 (soixante) jours

    - 238,80 € TTC (199,00 € HT) pour une durée de 365 (trois cent soixante cinq) jours

     Pour les villes où sont publiées au moins 1.000 annonces ou plus (sauf Paris):

    - 29,90 € TTC (24,92 € HT) pour une durée de 30 (trente) jours

    - 49,80 € TTC (41,50 € HT) pour une durée de 60 (soixante) jours

    - 298,80 € TTC (249,00 € HT) pour une durée de 365 (trois cent soixante cinq) jours

     Pour Paris (annonce localisée dans un arrondissement):

    - 49,90 € TTC (41,58 € HT) pour une durée de 30 (trente) jours

    - 91,80 € TTC (76,50 € HT) pour une durée de 60 (soixante) jours

    - 478,80 € TTC (399,00 € HT) pour une durée de 365 (trois cent soixante cinq) jours

    L'Annonce sera diffusée sur le Site Internet selon les modalités de l’Option dans un délai usuel d’un jour ouvré.</p><br>

<p><strong>5.3 Remonter mon Annonce en tête de liste immédiatement :</strong></p>

<p>Cette Option ne peut être souscrite que depuis le Site Internet. Chaque Annonce peut se voir remonter en début de

    liste de résultats. Pour souscrire une « Remontée » sur son Annonce, l'Annonceur peut depuis le Site Internet se

    rendre sur la page de son Annonce puis de cliquer sur « Remonter mon annonce ». L’annonce remontera en tête de

    liste dans les minutes qui suivent la souscription de l’option « Remontée »

    Cette Option est payable uniquement par carte bancaire et sera facturée :

    - 3,50 € TTC (2.92 € HT) pour une remontée immédiate.</p><br>

<p><strong>5.4 Remonter en tête de liste et ajouter la mention « UP » sur mon Annonce :</strong></p>

<p>Cette Option ne peut être souscrite que depuis le Site Internet. Chaque Annonce peut se voir

    - Ajouter un logo UP afin de la différencier dans une liste de résultat.

    - Remonter en début de liste de résultats soit chaque jour pendant 10 jours pour l’option « UP 10 » ; soit

    chaque semaine à la date anniversaire du dépôt de l'Annonce, pendant deux mois. Un e-mail sera envoyé à

    l'Annonceur à chaque remontée hebdomadaire de son Annonce en tête de liste (chaque semaine à la date

    anniversaire du dépôt de votre Annonce).

    Pour souscrire une « Annonce UP » sur son Annonce, l'Annonceur peut depuis le Site Internet se rendre sur la page

    de son Annonce puis de cliquer sur « Mettre en avant ».

    Cette Option est payable uniquement par carte bancaire et sera facturée:

    - 16,90 € TTC (14,08 € HT) pour une durée de 10 (dix) jours

    - 23,90 € TTC (19,92 € HT) pour une durée de 60 (soixante) jours

    L'Annonce validée par JOBINTREE SAS sera diffusée sur le Site Internet et signalée par une mention «UP» dans la liste

    de résultats et remontera automatiquement en tête de liste tous les jours pendant 10 jours ou toutes les semaines

    pendant 60 jours selon la durée de l’option souscrite.</p><br>

<p><strong>5.5 Annonce Plus :</strong></p>

<p>Cette Option ne peut être souscrite que depuis le Site Internet. Chaque Annonce Plus autorise l’annonceur à afficher

    dans le corps de son annonce

    - une ou plusieurs adresses mail ;

    - une ou plusieurs adresses de site internet (URL) ;

    L’annonce Plus bénéficie d’une remontée en tête de liste tous les mois pour des durées de publication supérieures à

    30 jours.

    L’Annonce Plus est payable uniquement par carte bancaire et sera facturée:

    - 4,90 € TTC (4,08 € HT) pour une durée de 30 (trente) jours

    - 9,00 € TTC (7,50 € HT) pour une durée de 60 (soixante) jours

    - 46,80 € TTC (39,00 € HT) pour une durée de 365 (trois cent soixante cinq) jours

    L'Annonce sera diffusée sur le Site Internet avec son option dans un délai usuel d’un jour ouvré.

    Cas spécifique des Annonces de catégories payantes

    Les Annonces des catégories payantes se voient attribuer par défaut l’option Annonce Plus, décrite ci-dessus.

    Les catégories payantes sur jemepropose.com sont les suivantes

     Les Annonces de la catégorie VDI (vendeurs et agents indépendants payés à la commission)

    - 15,80 € TTC (13,17 € HT) pour une durée de 60 (soixante) jours

    - 70,80 € TTC (59,00 € HT) pour une durée de 365 (trois cent soixante cinq) jours

     Les Annonces de la catégorie Vente à Domicile

    - 15,80 € TTC (13,17 € HT) pour une durée de 60 (soixante) jours

    - 70,80 € TTC (59,00 € HT) pour une durée de 365 (trois cent soixante cinq) jours

     Les Annonces des catégories Location d’appartement / Location de maison / Location meublé

    - 15,80 € TTC (13,17 € HT) pour une durée de 60 (soixante) jours

    - 70,80 € TTC (59,00 € HT) pour une durée de 365 (trois cent soixante cinq) jours

     Les Annonces des catégories Casting / Photographe / Photographe de mariage / Modèle photo

    - 15,80 € TTC (13,17 € HT) pour une durée de 60 (soixante) jours

    - 70,80 € TTC (59,00 € HT) pour une durée de 365 (trois cent soixante cinq) jours

     Les Annonces des catégories Massage & Reiki / Esotérisme / Médecine Douce/ Hypnose / Magnétiseur/

    Osthéopathe

    - 19,80 € TTC (16,50 € HT) pour une durée de 60 (soixante) jours

    - 94,80 € TTC (79,00 € HT) pour une durée de 365 (trois cent soixante cinq) jours</p><br>

<p><strong>5.6 Modification et Remontée en tête de liste d’une Annonce</strong></p>

<p>La modification d’une annonce est payante. Le classement des annonces sur Jemepropose est basé sur la géo-
    localisation et la date de parution de cette annonce.

    Cette modification est payable uniquement par carte bancaire et sera facturée:

    - 1,60 € TTC (1,33 € HT) sans remontée en tête de liste

    - 4,90 € TTC (4,08€ HT) avec rafraichissement de la date et remontée en tête de liste

    La modification et la modification avec remontée en tête de liste sera diffusée sur le Site Internet dans un délai usuel

    d’un jour ouvré.</p><br>

<p><strong>5.7 Annonce Premium</strong></p><br>

<p>Les Annonces Premium, bénéficient des caractéristiques suivantes :

    - Un visuel différencié avec en particulier un visuel plus grand dans les pages de listes de résultat des

    Annonces ainsi que sur la page Annonce.

    - Possibilité de publier jusqu’à 11 photos.

    - Les Annonces Premium sont modifiables à volonté gratuitement pendant leur durée de publication

    - Remontée automatique en tête de liste tous les 15 jours

    La souscription d’une Annonce Premium est payable uniquement par carte bancaire ou prélèvement bancaire et sera

    facturée:

    - 15,80 € TTC (13,17 € HT) pour une durée de 60 (soixante) jours

    - 82,80 € TTC (69,00 € HT) pour une durée de 365 (trois cent soixante cinq) jours

    L'Annonce sera diffusée sur le Site Internet avec son option dans un délai usuel d’un jour ouvré.</p><br>

<p><strong>5.8 Alerte SMS</strong><</p><br>

<p>La souscription de l’option SMS sur une Annonce vous permet d’être alerté par SMS à chaque qu’un nouveau contact

    vous envoie un message sur votre annonce

    - 2,90 € TTC (2,42 € HT) pour une durée de 30 (trente) jours

    - 4,80 € TTC (4,00 € HT) pour une durée de 60 (soixante) jours

    - 22,80 € TTC (19,00 € HT) pour une durée de 365 (trois cent soixante cinq) jours</p><br>

<p><strong>6. Prix</strong></p><br>

<p>Les prix sont exprimés en euro.

    Le prix de chaque Option est celui en vigueur au jour de la souscription par l'Annonceur tel qu’indiqué sur le Site

    Internet.

    JOBINTREE SAS se réserve la possibilité de modifier ses prix à tout moment.

    Les tarifs appliqués sont ceux en vigueur au jour de la validation de la souscription de l'Option par l'Annonceur.</p><br>

<p><strong>7. Paiement et facturation</strong></p><br>

<p>Le prix est exigible en totalité lors de la souscription de chaque Option.

    Toute souscription d'Option par carte bancaire donnera lieu à une facture envoyée à l'adresse email indiquée par

    l'Annonceur lors du dépôt de son Annonce.</p><br>

<p><strong>8. Responsabilité, Force majeure</strong></p>

La responsabilité de JOBINTREE SAS ne peut être engagée en cas d'inexécution ou de mauvaise exécution de la

souscription due, soit du fait de l'Annonceur, soit d'un cas de force majeure.</p><br>

<p><strong>9. Service client</strong></p>

<p>Le service client est joignable de 9h30 à 18h30 du lundi au vendredi par courriel : contact[at]jemepropose.com ou au

    01.79.97.49.00</p><br>

<p><strong>10. Modification des CGV</strong></p>

<p>JOBINTREE SAS se réserve la possibilité, à tout moment, de modifier en tout ou partie les CGV.

    Les Annonceurs sont invités à consulter régulièrement les CGV afin de prendre connaissance des changements

    apportés.</p><br>

<p><strong>11. Dispositions Diverses</strong></p>

<p>Si une partie des CGV devait s'avérer illégale, invalide ou inapplicable, pour quelque raison que ce soit, seules les

    dispositions en question seraient réputées non-écrites, sans remettre en cause la validité des autres dispositions qui

    continueront de s'appliquer entre les Annonceurs et JOBINTREE SAS, sauf s'il s'agissait d'une clause impulsive et

    déterminante ayant amenée l'une des Parties à souscrire à l'Option.

    Toute réclamation droit être adressée au Service Client de JOBINTREE SAS.

    Les CGV sont soumises exclusivement au droit français.</p><br>



</p>
<P><strong></strong></p><p>


<p>
<P><strong>
    </strong></p>
<p>

</p>

</div>
</div>
</div>
<!--</div>-->
</div>

<div class="warpperTemoignages2">
    <div class="container">
        <div class="row bloc2">
            <div class="col-md-12"><span class="cgu">Aides</span> </div>

            <div class="col-lg-10 col-lg-offset-1">
                <div class="temoignage">
                    <span class="date"><br><br>Inscription</span>
                    <p>
                        Pour accéder aux fonctionnalités du Site Internet Affichange.com ou à d'autres éléments des Service, vous devez vous inscrire sur le Site internet.</p>
                    <a href="conditions" class="plus">lire la suite</a>
                </div>
                <div class="temoignage">
                    <span class="date">Carnet de liaison</span>
                    <p>Remplacer votre carnet papier par un outil dynamique et intéractif. Avec votre liaison en ligne, offrez plus de réactivité et d’accessibilité au différents intervenants et à la famille. Avec le carnet de liaison en ligne, disposez d’un espace personnel et confidentiel pour :
                        •Suivre et partager les liaisons de votre accompagnement avec la famille et les aidants.•Fédérer les proches, la famille autour de l’aidé,  malgré l’éloignement, donner un lien pour échanger et partager les évenements familiaux...•Interagir avec les aidants, organisez les passages, relatez vos activités, publiez vos commentaires. alerter en temps réel...</p>
                    <a href="#" class="plus">lire la suite</a>
                </div>
            </div>
            <div class="col-lg-10 col-lg-offset-1">
                <div class="temoignage">
                    <span class="date">Votre compte</span>
                    <p>Pour accéder aux fonctionnalités du Site Internet Affichange.com ou à d'autres éléments des Service, vous devez vous inscrire sur le Site internet.</p>
                    <a href="#" class="plus">lire la suite</a>
                </div>
                <div class="temoignage">
                    <span class="date">Professionnel</span>
                    <p>Vous êtes aidant professionnel, auxiliaire de vie, prestataire de services à domicile... Avec le Compte pro, disposez d’un outil d’accompagnement indépendant, adossé à votre marque, accessible aux proches et aux différents intervenants à chaque instant.</p>
                    <a href="#" class="plus">lire la suite</a>
                </div>
            </div>
        </div>
    </div><!-- container-->
</div><!-- warpperTemoignages-->

<div class="warpperFooter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar" role="navigation">

                    <div class="container clearfix">
                        <p>Affichange © 2013 - 2016 France</p>

                    </div>
                    <div class="">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="regles.html">Conditions d'utilisation</a>
                            </li>
                            <li>
                                <a href="mentionslegales.html">A propos de</a>
                            </li>
                            <li>
                                <a href="confidentialités.html">Confidentialité</a>
                            </li>
                            <li>
                                <a href="aides.html">Aides</a>
                            </li>
                            <li>
                                <a href="http://goo.gl/forms/92RdHeFA72">Contact</a>
                            </li>

                        </ul>

                    </div>

                </nav>
            </div>
        </div>

    </div>
</div><!-- warpperFooter-->
