<div class="info-affi">

</div>
<a class="sstitl mrg0" href="{{path('app_login')}}">
    <div class="ti-sst"><i class="fa fa-user-circle-o"></i><span> J'ai déjà un compte</span></div></a>
<div class="_ti-chc">si non</div>
<div class="_boa_aouth_choic">
    <div class="_bx-chc" data-choice="log">
        <div class="_chc-1">
            <div class="tit-chc1">J'ouvre une conversation</div>
            <h5>Je m'inscris</h5>
            <p>En ouvrant maintenant mon espace personnel, je peux retrouver et suivre mes échanges d'un simple clic</p>
        </div>
    </div>
    <div class="_bx-chc" data-choice="post">
        <div class="_chc-1">
            <div class="tit-chc1">Je laisse juste un message</div>
            <h5>Je poste</h5>
            <p>Mon message sera transmis immédiatement</p>
        </div>
    </div>
</div>



