{% block body_html %}
Bonjour !

Vous avez reçu un nouveau message privé du membre <b>{{ from }}</b>, <a href="{{ url('message') }}">cliquez-ici</a> pour le voir !

Amicalement,
AffiChange.com
{% endblock %}