<div class="zone-bar-resa">
    <div class="lite-cmd">
        <div class="in_cib">
            <div class="form-groupfields glass-label">
                <div class="glass-title_form">
                    <h3>Participez !</h3>
                </div>
                <div class="process-module_glass">
                    <div class="stape-process-lit" >
                        <h5><strong>Choisissez une date dans une des localités proposées :</strong></h5>
                    </div>
                </div>
            </div>
        </div>
        {#
            <div class=" button-wp" >
                <button class="bulletoggle pop_button" data-affitgl="tgl_9">
                    <i class="fa fa-play-circle-o" aria-hidden="true"></i> Participez !
                </button>
            </div>
        #}
    </div>
</div>
