{# menu reseting version desk #}
{{ include('elements/bulle-header.html.twig') }}
<div class="affibody">
    <div class="vagdesk">
        <div class="center_mdp_logo_mb_ext-p">
            {{ include('svg/50x50_AfCHG_blanc.html.twig') }}
        </div>
    </div>
    {{ include('aff_menu/pop/'~agent~'/profilnav.html.twig') }}
</div>

