{% block body %}
<div class="pwa-pg-ptn">
    <div class="pwa-col">
        <div class="content_mob_all">
            {{ include('mobile/ptn_elements/ele_boards/card_website_new.html.twig') }}
            <section class="pwa-section pwa-section--stack">
                <header class="pwa-section__header">
                    <span class="pwa-hero__badge">Agenda</span>
                    <h2>Prochains Potins</h2>
                    <p>Les prochains ateliers et rencontres à ne pas manquer. Réservez votre place directement depuis votre téléphone.</p>
                </header>

                {% if notices|length > 0 %}
                    <div class="pwa-event-list">
                        {% for event in notices %}
                            {{ include('mobile/ptn_elements/ele_events/modale_event.html.twig') }}
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="pwa-empty-state">Pas de nouvelle date actuellement. Revenez très vite&nbsp;!</p>
                {% endif %}
            </section>
            {{ include ('mobile/footer/potins_footer.html.twig') }}
        </div>
    </div>
</div>
{%  endblock body %}
{% use "js/js_public.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

