{% block title %}Planning hebdomadaire — Public{% endblock %}
{% block body %}
    <div class="_wb">
        <div class="container_bo_member">
            {#  {{ include('pwa/escape/landing/slideleft.html.twig') }} #}
            <div class="bo_content">
                {{ include('desk/ptn_public/agenda/board_week.html.twig', {
                    show_requests: true,
                    manage: false,
                    context: 'public'
                }, with_context = false) }}
            </div>
        </div>
    </div>
{% endblock %}
{% use "js/js_agenda.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
