<div id="logotop" class="zz_top-top-fix">
    <div class="vagmenu">
        {{ include('svg/potins/vector1.html.twig') }}
    </div>
    <a href="{{ path('board_all') }}">
        <div class="svg_logo_small">
            {{ include('svg/potins/logopotins_svg_small.html.twig') }}
        </div>
    </a>
</div>

