{# menu public version mobile #}
{{ include('elements/bulle-header-lite.html.twig') }}
<div class="menuhome-af_mb">
    <div class="iner_mninfo_mob">
        {{ include('svg/50x50_AfCHG_blanc.html.twig') }}
        <h5 class="title_log_mob">{{vartwig.title}}</h5>
    </div>
</div>

