{# templates/escape/garden.html.twig #}
{% block title %}Agenda — Planning des événements{% endblock %}
{% block body %}
    <div class="_wb">
        <div class="container_bo_member">
           {#  {{ include('pwa/escape/landing/slideleft.html.twig') }} #}
            <div class="bo_content">
                {{ include('pwa/agenda/index.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
{% use "js/js_agenda.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
