{% block body %}
<div class="_wb">
    <div class="container-bo_v5">
        {{ include('aff_customer/menu/'~agent~'/websitemenu.html.twig') }}
        <section class="_wb-ospace">
            <div class="head-wb-space">
                {{ include('elements/wb-zoneinfo.html.twig') }}
            </div>
        {{ include('aff_websiteadmin/shop/form/deleteform.html.twig') }}
        </section>
    </div>
</div>
{% endblock %}
{% use "js/js-post.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}



