{% block body %}
<div class="_wb">
    <div class="container_bo_member">
        {{ include('desk/ptn_office/menu/websitemenu.html.twig') }}
        <section class="bo_content">
            <!-- offres publiées -->
            <div class="head-wb-space"></div>
                {{ include('desk/ptn_office/offre/ptn_offre.html.twig') }}
        </section>
    </div>
{%  endblock body %}
{% use "js/js_customer_wb.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}