<div class="flex-board">
    {% if orderwbs|length > 0 %}
        {% for key, scorewbs in orderwbs %}
            {% set link = 'show_board' %}
            {% set website = wbsiteloc[key] %}
            {{ include('mobile/ptn_elements/ele_boards/card_website_board.html.twig') }}
        {% endfor %}
    {% else %}
        <div class="pop_item-rep">
            <div class="notbd-img">
                <div class="iner-img_notbd" style="background-image: url('{{ asset('img/pinsaffi.png') }}')" role="presentation"></div>
            </div>
            <div class="modal_innerpopo">
                <p>Rien par ici pour le moment…</p>
                <div class="me_ampoul">snif</div>
            </div>
        </div>
    {% endif %}
</div>
