/*---------------------------------------------------------------------------------*/
/*----------------------------- calendar market + form market -------------------*/

.board-formadd {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 80%;
    margin: auto;
}

.side_menu {
    margin-top: 0;
    padding: 15px;
}
.form-add-center-row_one {
    position: relative;
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.form-add-center {
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    margin-top: 35px;
}
.content-form-busi {
    position: relative;
    padding: 15px;
    border: solid 1px #f0f0f3;
    border-radius: 5px;
}
#tab-nav {
    margin: 0;
    padding: 0;
    position: relative;
    bottom: -1px;
}


.tab {
    display: none;
    border: 1px solid #cccccc;
    padding: 15px;
    height: 100%;
    background-color: #fff;
    margin: auto;
    text-align: center;
}

.tab-active {
    display: block;
}

#tab-nav a {
    display: block;
    border: solid #cccccc;
    border-width: 1px 1px 0 1px;
    padding: 10px 15px;
    border-radius: 5px 5px 0 0;
    background-color: #150878;
    text-decoration: none;
    color: #fff;
    transition-duration: 0.5s;
}
#tab-nav a.tab-nav-active {
    color: #fbaf31;
}

#tab-nav .tab-nav-active {
    background-color: #ffffff;
}
#tab-nav li {
    display: inline-block;
}

main li {
    font-size: 15px;
    line-height: 20px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.group-side {
    position: relative;
    margin-top: 0;
    padding: 15px;
}
.stateone{
    display: block;
}
.select-callback{
    display: none;
}
.alongdate{
    display: none;
}

.callback{
    display: block;
    height: 100px;
    width: 80%;
}
.menu-side-busi{
    text-align: center;
    justify-self: center;
    align-self: start;
}
.content-side{
    width: 80%;
    padding-top: 10px;
}
.content-form-calendar{

}
.callback a{
    color:black;
}
.select-day-month{
    display: grid;
    grid-template-columns: repeat(7,1fr);

}
.market_daysweek{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
.alongperiod{
    display: block;
    margin:0px;
}

.fields-days{
    display: block;
    margin: 0px;
    width: 100%;
}

.fields-repete{
    margin:0px;

}
.fields-month{
    display: none;
    margin:0px;
    height: 120px;
    margin-top: 20px;

}
.fields-week{
    display: none;
    margin:0px;
    height: 120px;
    margin-top: 20px;

}
.alongchoice{
    display:none;
}
.board-hebdo-busi{
    top:70px;
    position: relative;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 300px 1fr;
}
.Monday{
    background-color: #5d9cec;;
}
.Tuesday{
    background-color: #5d9cec;;
    color: #fff;
}
.Wednesday{
    background-color: #5d9cec;;
}
.Thursday{
    background-color: #5d9cec;;
}
.Friday{
    background-color: #5d9cec;;
    color: #fff;
}
.Saturday{
    background-color: #5d9cec;
}
.Sunday{
    background-color: #5d9cec;;
    color: #fff;
}

.calendar__table-admin{

}

.calendar__table--5weeks-admin{
}

.calendar__othermonth-admin{

}
.is__today-admin{

}
.calendar__weekday-admin{

}


.calendar__table__admin
{
    width: 100%;
    height: 70vh;
    margin-top: 20px;
}

.calendar__table__admin td {
    border: 1px solid white;
    vertical-align: top;
    width: 14.29%;
    height: 20%;
    background-color: #d2d4d6;
}

.calendar__table__admin td a{
    color: #0f087d;
    margin-left: 3px;
    font-size: 0.8rem;
    font-weight: 600;
}
.ref-market{
    display: block;
}

.ref-market:hover{
    background-color: #d2d4d6;
}

.ref-market a{
    color:#000;
}

.appoint_admin{
    padding: 0px;
    margin: auto;
    background-color: #a5a2a2;
    text-align: center;
    border-bottom: solid 0.5px grey;
    border-top: solid 0.5px grey;
}
.in-calendar{
    background-color: #a5a2a2;
    font-size: 0.8rem;
}
.in-calendar a{
    color: #fff;
}

.calendar__table__admin td.is__today__admin {
    background-color: #fabd16;
}

.calendar__event__admin{
    display:grid;
    visibility: hidden;
    grid-template-columns: 1fr 2fr;
}

.calendar__event_market__admin{
    display:grid;
    visibility:visible;
    grid-template-columns: 1fr 2fr;
    background-color: green;
}


.calendar__table__market-desk__admin {
    width: 100%;
    /* height: 450px; */
    margin-bottom: 100px;
}
.calendar__table__market-desk__admin td {
    padding :10px;
    border: 1px solid white;
    vertical-align: top;
    width: 14.29%;
    height: 20%
}


.calendar__table--6weeks__admin tr {
    height: 150px;
}
.calendar__table--6weeks__admin td {
    height: 100px;
}
.calendar__weekday__admin{
    font-weight: bold;
    color:#000;
    font-size: 1rem;
    text-align: center;
}
.calendar__othermonth__admin .calendar__day {
    opacity: 0.2;
}

.calendar__market{
    margin: 20px;
    text-align: center;
}

.calendar-affi{
    border-radius: 10px;
    padding: 10px;
}
.til_cal {
    font-family: arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #510a7b;
    align-self: center;
    border-radius: 0 10px 10px 0;
    height: 36px;
    text-align: center;
}
.lig-grid_month{
    display: flex;
    flex-direction: column;
}
.lig-grid_day{
    display: flex;
    flex-direction: column;
}
.col-date{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lig-grid-resa{
    display: grid;
    grid-template-rows: 1fr 2fr;
    margin-bottom: 15px;
}
.col-date h1{
    font-size: 2rem;
}
.calendar__table{
    color:#3a3636;
    text-align: center;
}
.calendar__table--5weeks{
}
.calendar__table--month{

}
.calendar__table--month tr{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.calendar__table--month td{
    height: 36px;
    justify-self: center;
    align-self: center;
    border: 0.5px #80808030 solid;
    width: 8.333%;
    padding-top: 5px;
}
.calendar__table--5weeks tr{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
.col-date h1{
    text-align: center;
    font-size: 1.8em;
    line-height: 1em;
    color: #011180;
    padding: 15px;
}
.calendar__table--5weeks td{
    height: 36px;
    justify-self: center;
    align-self: center;
    border: 1px #80808030 solid;
    width: 100%;
    padding-top: 5px;
    margin: 1px;
}
.calendar__table--6weeks{
    width: 100%;
}
.calendar__table--6weeks tr{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
.calendar__table--6weeks td{
    height: 36px;
    justify-self: center;
    align-self: center;
    border: 1px #80808030 solid;
    width: 100%;
    padding-top: 5px;
    margin: 1px;
}
.calendar__othermonth{
    color: rgba(84, 84, 84, 0.22);
    opacity: 0.4;
}
.calendar__weekday{
    font-size: 0.8rem;
    color:darkslategrey;
}
.calendar__month{
    font-size: 0.8rem;
    color:darkslategrey;
}
.calendar__month a{
    color: #fff;
    text-decoration: none;
}
.calendar__day{
    color: var(--goaffi);
    text-decoration: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.calendar__day a{
    color: #fff;
    text-decoration: none;
}
.calendar__button{
    background-color: grey;
}
.dayopen{
    background-color: #2f4f4f4f;
}
.dayselect{
    background-color: darkblue;
}
.dayoff{
    background-color: #00008b42;
}
.dayon{
    background-color: #ffc107;
}
.dayon>div{
    color: #f0f0f0!important;
}
.is__today{
    background-color: #001b44;
}
.spacy_blue{
    color: #dc3545;
    height: 10px;
    width: 10px;
    font-size: 20px;
}
.glass-calendar{
    font-weight: 300;
    font-size: 1rem;
    text-shadow: none;
}
.reserved{
    background-color: #f36100;
}

/*--------------------stape1 post -afficalendar--------------------------*/

.stape_post {
    position: relative;
    right: 7px;
    top: 0;
    z-index: 50;
    height: 50px;
    background-color: #f36100;
    width: 50px;
    padding: 0%;
    display: inline-block;
    color: #ffffff;
    border-radius: 50%;
    text-align: center;
    justify-self: center;
}
.intext{
    font-size: 1.2rem;
    font-weight: 300;
    display: inline-block;
    align-self: center;
    color: #ffff;
}
