@media (max-width: 52rem){
    html[dir] body .mobauroratst div #gnav-burger-menu-nav a[class^=gnav-header-], html[dir] body .mobauroratst div #gnav-burger-menu-nav a[class^=gnav-header-] svg {
        color: #2d2d2d !important;
    }
}
@media (max-width: 624px) and (min-width: 0px) {
    .pictlarge img {
        width: 80%;
    }
}
@media (max-width: 639px) and (min-width: 0)
{
    .inter-title3 {
        margin: auto;
        width: 100%;
        position: relative;
        padding-top: 0;
        text-align: center;
    }
    .inter-title3 h1 {
        font-size: 1.5rem;
        color: #520808;
        line-height: 22px;
        text-align: center;
        padding: 27px;
    }
    .inter-title3 h2 {
        font-size: 1.2rem;
        color: #000000;
        font-weight: 600;
        font-family: var(--fontMedium);
    }
}
@media (max-width: 1084px) and (min-width: 0) {
    .short{
        display: block
    }
    .long{
        display: none
    }
}
@media (min-width: 1085px) {
    .short{
        display: none
    }
    .long{
        display: block
    }
}
@media (max-width: 978px) and (min-width: 0px){
    .all_blocks {
        flex-direction: column;
    }
    .arg-content_cor4 {
        flex-direction: column;
        height: auto;
    }
    .eyes {
        width: 150px;
        margin: auto;
        height: 150px;
    }
    .bk-pict_cor4 {
        width: 100%;
        margin: 25px;
    }
    .blk-img_vrt4 {
        left: 0;
        top: 0;
        transform: translate(0%, 0%);
        height: 100%;
    }
    ._in-eyes {
        height: 250px;
        padding-bottom: 15px;
    }
    .vertical_block {
        height: 114px;
        width: 100%;
        margin-bottom: 25px;
    }
    .content_vertical_block {
        transform: rotate(270deg);
    }
}
@media screen and (min-width: 62rem) {
    #gnav-main-container.gnav .gnav-header-1lf4lmt button, #gnav-main-container.gnav .gnav-header-1lf4lmt a {
        min-height: 4.375rem;
        padding-top: 1.3125rem;
    }
}
@media screen and (min-width: 62rem) {
    #gnav-main-container.gnav .gnav-header-1axrydf {
        min-height: 4.375rem;
    }
}
@media screen and (min-width: 62rem) {
    #gnav-main-container.gnav .gnav-header-1lf4lmt button, #gnav-main-container.gnav .gnav-header-1lf4lmt a {
        min-height: 4.375rem;
        padding-top: 1.3125rem;
    }
}
@media (min-width: 712px) {
    .fx-cub {
        box-sizing: border-box;
        display: flex;
        margin: 0 auto;
        max-width: 1000px;
        flex-wrap: wrap;
        transition: all 1s ease-out;
    }
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}
