<div class="{{ agent is same as ('desk/')?'abs-gen':'abs-gen_mb'}} g2">
    <div class="act-ct_v2">
        <div class="cbe-fx_v2">
            <div class="cbe_cnt_v2">
                <div class="c_i_b_v2">
                    <div class="in_cibS bd-bt_v2">
                        <div class="in_cibS-bt_v2" id="aprowb" role="button">
                            <div class="in_cibS-Vd_v2"></div>
                            <div class="in_cibS-bot_v2"></div>
                            <span class="in_cibS-spn1_v2">
                                <span class="in_cibS-spn2_v2 dif-bk-color">
                                    <div class="in_cibS-svg_v2">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </div>
                                    <span class="tit-cb_v2">à propos</span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
