<div class="_in-l-bb2_mb">
    {% if  website.module.contactation is not null %}
    <div class="bta-lk_mb_v5">
        <a class="logo_wb" href="{{path('messagery_spwb',{'slug': website.slug }) }}"><i class="fa fa-comments-o" aria-hidden="true"></i>Contactez</a>
    </div>
    {% endif %}
</div>