<div class="widget_event_card_date color-event-1">
    <div class="widget_inner-event">
        <div class="info_dat">
            <div class="event-locate">

                <div class="event-dates">
                    <div class="event-inf1">
                        <div class="event-info0">
                            <div class="event-inf4">
                                <span class="event-inf2">{{ ressource.titre  }}</span>
                                <div class="event-inf2">{{ ressource.descriptif|u.truncate(80, '...')|lower|capitalize }}</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


