{% block body %}
<div class="_off">
    <div class="media-ospace">
        {{ include('pwak/ptn_elements/ele_events/agenda_media.html.twig') }}
    </div>
</div>
{%  endblock body %}
{% use "js/js_ospaceboard.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}