<div class="footer_ptn">

            <ul class="foot_col">
             {#  <li><a href="{{path('legality')}}" title="mentions Légales">Mentions légales</a></li> #}
                <li><span class="vertical-separator">contact : <a href="mailto:conseiller-numerique@saintjeandeboiseau.fr">conseiller-numerique@saintjeandeboiseau.fr</a></span></li>
            </ul>
    {#
            <ul class="foot_col">
                <li><a href="{{path('inscrip_pro')}}" title="accès pro" class="vertical-separator">pro</a></li>
            </ul>

    #}

        <div class="rec_o">
            <div class="record">potinsnumeriques.fr &copy; <script>document.write(new Date().getFullYear())</script></div>
            <p class="bow">by MdJ</p>
        </div>
</div>