<div class="wb_header centered">
    <div class="_bk-0_mob" id="id-choicacces">
        <div class="space_inf_msg">
            <div class="tab-info_rd">
                <aside class="wp-info">
                    <div class="w_inf_board bgrop_v5">
                        <div class="goaff_v6"><h3>J'ai déjà un compte</h3></div>
                        <div class="iner-col_v6">
                            <a class="sstitl mrg0" href="{{path('app_login')}}">
                                <div class="ti-sst"><i class="fa fa-user-circle-o"></i>connexion</div></a>
                        </div>
                    </div>
                </aside>
                <div class="_ti-chc">si non</div>
                <div id="testmail">
                    <test-mailmsg slug="{{ website.slug }}" id="{{ website.id }}" module="_board"></test-mailmsg>
                </div>
            </div>
        </div>
    </div>
</div>



















