{% block body %}
<div class="_wb">
    <div class="container-bo_v5">
        {{ include('desk/ptn_office/menu/websitemenu.html.twig') }}
        <section class="_wb-ospace">
            {{ include('desk/ptn_office/ressources/deletecarte.html.twig') }}
        </section>
    </div>
</div>
{% endblock %}
{% use "js/js_website.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}



