{% block body %}
<div class="_wb">
    <div class="container-bo_v5">
        {{ include('pwa/ptn_office/menu/websitemenu.html.twig') }}
        <section class="_wb-ospace">
            <div class="head-wb-space"></div>
        {{ include('pwa/ptn_office/event/formeventdelete.html.twig') }}
        </section>
    </div>
</div>
{% endblock %}
{% use "js/js_website.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}



