{% block body %}
    <div style="top:75px;">
        <iframe onresize="ajustIframe()" onload="ajustIframe()" id="iFrameAjust" src="/js/pdfjs/viewer.html?file=/review/pdf/potins-gp-rw/datafiche{{ pdfreview }}" allowfullscreen="" style="position: absolute; width: 100%; border: 0px; height: calc(100% - 140px);"></iframe>
    </div>
{%  endblock body %}
{% use "js/js_pdfviewer.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}