{% block title %}ra - demo{% endblock %}
{% use "js/js_mindar_demo.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="_wb">
        <div class="container_bo_member">
            <div class="bo_content">
                {{ include('pwa/ar_mindar/demo.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

