{% block title %}view{% endblock %}
{% use "js/js_mindar_demo.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="wrapper">
        {{ include('pwa/ar/ar_mindar/view.html.twig') }}
    </div>
{% endblock %}
