<form name="contact_form" class="modl-anserw" id="anserwb">
    <div class="convers">
        <label for="content"></label>
        <textarea id="content" name="content" class="conversarea" placeholder="..."></textarea>
        <div class="conversend">
            <i class="fa fa-telegram" id="convers-go"></i>
        </div>
    </div>
</form>