<div class="post-stapetwo" id="formnotify">
    <form class="form-elastic" enctype="multipart/form-data" method="post" name="localisation"> <!-- a verif si besoin form ??-->
        <div class="content-content-post">
            <div class="blk-recap-grid">
                <div class="blk-recap" id="recapopendays">
                </div>
            </div>
        </div>
    </form>
</div>