<i class="fa fa-smile-o" aria-hidden="true"></i><h5>Cet article est vendu sur le comptoir<br>{{ website.namewebsite }}</h5>
<p>La vente de ce produit est à réaliser en direct avec le vendeur ou soit via le market place local.<br>
    <br> Si vous voulez plus d'info, contactez le vendeur<br>
    sinon passer la commande directement et réservez cet article</p>
