<i class="fa fa-smile-o" aria-hidden="true"></i><h5>Bravo <span id="namemeber"></span>, votre compte vient d'être crée</h5>
<p>Pour suivre votre conversation, vous devrez proceder à la confirmation de votre identitée de messagerie, via le mail qui vient de vous êtes adressé.<br>
    <br> (il se peut que le message soit arrivé dans vos spams)<br>
    A la validation de votre adresse mail, vous pourrez poursuivre votre commande</p>
<em>Retrouvez votre conversation dans votre espace personnel</em>
{# <button class="bt-andestand">à tout de suite....</button>   #}