<div class="cbe-fx4">
    <div class="cbe_cnt">
        <div class="c_i_b">
            <div class="in_cib">

            <div class="in-cib-lrg-tit">
                <div class="tit-cib-lg">dernier post</div>
            </div>

                <div class="pos-incub">
                    <div class="pos-incub-i">
                        <div class="pos-incub-l">
                            <div class="all-in">
                                <span class="tit-pos-cub">
                                    ici le titre du post
                                </span>
                            </div>
                            <div class="timdate_pos">
                                2 juin 2020
                            </div>
                        </div>
                        <div class="img-pos" style="background-image: url('test')"></div>
                    </div>
                </div>

                <div class="bt-cub" role="button">
                    <div class="in_cibS-Vd"></div>
                    <div class="in_cibS-bot"></div>
                    <span class="in_cibS-spn1">
                            <span class="in_cibS-spn2">
                                <div class="in_cibS-svg">
                                    <svg></svg>
                                </div>
                                <span class="tit-cb">nouveau post</span>
                            </span>
                        </span>
                </div>
                <div class="misterplus">
                    <a class="pl-cb" href="">
                        <div class="inut-now" style="top: 17px; left: 55.5px; width: 88px; height: 88px;"></div>
                        <div class="abs-pos"></div>
                        <span class="spn-pos">
                            <span class="in_spn-pos">plus</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>