{% block body %}
<div class="pwa-pg-ptn">

    <div class="pwa-col">
        <h2>Les ressources des Potins</h2>
        <p>Retrouvez tous les logiciels, applis et matériels, les astuces et tutos...</p>

        <div class="content_mob_all">
            <div class="pwa-search-ressource">
                <div class="pwa-ressource-imput">
                    <x-ressources cat="all"></x-ressources>
                </div>
            </div>

            {% if ressources|length >0 %}
        <div class="tgl-100">
            <div class="pwa-fx-content-rep-potinary">
                {{ include('pwa/ptn_elements/ele_ressources/lastressources.html.twig') }}
            </div>
        </div>
    {%  else %}
        <div class="tgl-100">
            <div class="pwa-fx-content-rep-potinary">
                <div class="flex-board">
                    <div class="flex-notb_v6-fix">
                        <h3>  Aucune ressource disponible</h3>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

        </div>
    {{ include ('pwa/footer/potins_footer.html.twig') }}
    </div>
</div>
{%  endblock body %}
{% use "js/js_potins.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

