<div class="cbe-fx cb-W">
    <div class="cbe_cnt">
        <div class="c_i_b">
            <div class="in_cib">
                {{ include('talk/litllist_msgs.html.twig') }}
            </div>
        </div>
    </div>
</div>