<div class="cbe-fx4">
    <div class="cbe_cnt">
        <div class="c_i_b">
            <div class="in_cib">

            <div class="in-cib-lrg-tit">
                <div class="tit-cib-lg">Vos actions marketing</div>
            </div>

                <div class="Rt3Tbf">
                    <div class="nX2Utf">
                        <span class="GlMVdd" aria-label="Partagez votre profil d'établissement et obtenez de nouveaux avis de clients">Partagez votre profil d'établissement et obtenez de nouveaux avis de clients</span>
                        <div class="kxr9cf"></div>
                    </div>
                </div>

                <div class="bt-cub" role="button">
                    <a class="FKF6mc TpQm9d" href="" target="_blank">
                    <div class="in_cibS-Vd"></div>
                    <div class="in_cibS-bot"></div>
                        <span class="in_cibS-spn1">
                        <span class="in_cibS-spn2">
                            <span class="tit-cb">creez</span>
                        </span>
                    </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>