<div class="cbe-fx4">
    <div class="cbe_cnt">
        <div class="c_i_b">
            <div class="in_cib">

            <div class="in-cib-lrg-tit">
                <div class="tit-cib-lg">Vos actions marketing</div>
            </div>

                <div class="Rt3Tbf">
                    <p>informez vos clients</p>
                </div>
                <div class="_fx-R fx-fe _h10-10">
                <div class="_t-c _m-lr-5">
                    <div class="til_rlt">Actuellement</div>
                    <div class="space_tag_loc">
                        <div class="space-tag">
                            <div class="bull_tag active" >
                                {% if openday is defined  %}
                                    {% if openday %}
                                        <div class="-br-Ma">ouvert</div>
                                    {% else %}
                                        <div class="-br-Ma">fermé</div>
                                    {% endif %}
                                {% else %}
                                    <div>horaires d'ouverture non renseigneé</div>
                                  {#   <a href="{{ path('opendays_edit',{'slug':website.slug, 'id':website.id}) }}"><em>modifier</em></a>  #}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="_t-c _m-lr-5">
                    <div class="til_rlt">localisation</div>
                    <div class="space_tag_loc">
                        <div class="space-tag">
                            <div class="bull_tag active" >
                                    <div class="-br-Ma">affichange</div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <a href="" class="Oa4Z0c">
                    <div class="KDkPwf">
                        <span class="tjTGQ" aria-hidden="true">
                            <svg width="24" height="24" viewBox="0 0 24 24"><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm5.23-5.06l-1.26 1.55L11 13V6h2v6l4.23 2.94z"></path>
                            </svg>
                        </span>
                        <span class="PbDbnd">Mettre à jour vos horaires d'ouverture</span>
                    </div>
                </a>
                <div class="gAulCf">
                    <div class="bt-cub" role="button">
                        <div class="in_cibS-Vd"></div>
                        <div class="in_cibS-bot"></div>
                        <span class="in_cibS-spn1">
                            <span class="in_cibS-spn2">
                                <div class="in_cibS-svg">
                                    <svg></svg>
                                </div>
                                <span class="tit-cb">creez</span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>