{% block body %}
<div class="_off">
    <div class="container-bo_ptn">
        {{ include('desk/ptn_office/menu/parameter_menu.html.twig') }}
        <section class="_wb-ospace">
            <div class="ii_cub">
                {{ include('desk/ptn_elements/ele_parameters/initmessage.html.twig') }}
                <div class="contener-cube fx-c">
                    {{ include('desk/ptn_elements/ele_parameters/process-contact.html.twig') }}
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
{% use "js/js_edit_website.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}