{% block body %}

    <div class="container-bo_v5">
        {{ include('pwa/ptn_office/menu/websitemenu.html.twig') }}
        <section class="_wb-ospace">
                {{ include('pwa/ptn_office/potins/postedit.html.twig') }}
        </section>
    </div>

{% endblock %}
{% use "js/js-post.html.twig" %}
{% block javascripts %}n
    {{ parent() }}
{% endblock %}















