{% block body %}
<div class="_pg_wb-pb_v6">
    <div class="act-mem">
    </div>
    <div class="tgl-100">
        <div class="fx-content_rep_potinary" id="registered" data-number="{{ registered }}">
            {{ include('desk/ptn_customer/orders/form/validresapotinform.html.twig') }}
        </div>
    </div>
</div>
{{ include('desk/ptn_public/footer/potins_footer.html.twig') }}
{%  endblock body %}
{% use "js/js_resapotinparticpants.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
