<section class="ptn_content">
    {#  {{ include('aff_search/'~agent~'/link_bar.html.twig',{city:website.locality.slugcity}) }}  #}
    {{ include('desk/ptn_office/potins/link_bar_post.html.twig',{city:'null'}) }}
    {{ include('desk/ptn_office/potins/formaddarticleadmin.html.twig') }}
</section>