    <div class="comd">
        <h5>Attention vous êtes sur le point de supprimer un article, merci de confirmer votre choix</h5>
        <div class="_trl2-R">
            <div class="bullehead-wb-desk">
                {{ form(form) }}
            </div>
        </div>
    </div>
    <div class="_sp-gl"></div>

