{% block body %}
    <div class="container-bo_v5">
        {{ include('desk/ptn_office/menu/websitemenu.html.twig') }}
        <section class="_wb-ospace">
            {{ include('desk/ptn_office/potins/articleeditform.html.twig') }}
        </section>
    </div>
{% endblock %}
{% use "js/js-article.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}















