<div class="zone-bar-show">
    <div class="bar-item">
        <a href="{{ path('potins_manage', {'board': board.id}) }}" class="btn-add">
            <i class="fa fa-plus"></i> Nouvelle affiche
        </a>
    </div>
</div>