
    <div class="space_tag_when_mb">
            <div class="bull_tag active" >
                {% if openday is defined  %}
                    {% if openday %}
                        <div class="-br-Ma"><i class="fas fa-door-open"></i>&nbsp;ouvert</div>
                    {% else %}
                        <div class="-br-Ma"><i class="fas fa-door-closed"></i>&nbsp;fermé</div>
                    {% endif %}
                {% else %}
                    <div>fermé</div>
                {% endif %}
            </div>
    </div>

