<div class="fx-cub">
    <div class="act-ct">
        <div class="cbe-fx">
            <div class="cbe_cnt">
                <div class="c_i_b">
                    <div class="in_cib">
                        <div class="in_cibS">

                            <div class="in_cibS-bt" role="button">
                                <div class="in_cibS-Vd"></div>
                                <div class="in_cibS-bot"></div>
                                <span class="in_cibS-spn1">
                                    <span class="in_cibS-spn2">
                                        <div class="in_cibS-svg">
                                            <svg></svg>
                                        </div>
                                        <span class="tit-cb">Nouveau post</span>
                                    </span>
                                </span>
                            </div>
                            <div class="sp_v-lg">
                                <div class="lea-fx"></div>
                                <div class="lea-fxY"></div>
                                <div class="lea-fx"></div>
                            </div>


                            <div class="in_cibS-bt" role="presentation">
                                <div class="in_cibS-Vd"></div>
                                <div class="in_cibS-bot"></div>
                                <span class="in_cibS-spn1">
                                <span class="in_cibS-spn2">
                                    <div class="in_cibS-svg">
                                        <svg></svg>
                                    </div>
                                    <span class="tit-cb">Creez une offre</span>
                                </span>
                            </span>
                            </div>

                            <div class="sp_v-lg">
                                <div class="lea-fx"></div>
                                <div class="lea-fxY"></div>
                                <div class="lea-fx"></div>
                            </div>

                            <div class="in_cibS-bt" role="button">
                                <div class="in_cibS-Vd"></div>
                                <div class="in_cibS-bot"></div>
                                <span class="in_cibS-spn1">
                                <span class="in_cibS-spn2">
                                    <div class="in_cibS-svg">
                                        <svg></svg>
                                    </div>
                                    <span class="tit-cb">Nouvelle conversation</span>
                                </span>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>