<div class="container-bo_v5">
    <div class="flrow">
        <div class="fx-cub ii_cub2">
            <div class="O_list-cube">
                <h1 class="tit-cib-lg">Créer un nouveau panneau</h1>
                <p>Développez votre présence locale en ajoutant un panneau supplémentaire à votre compte.</p>

                <div class="list-incub">
                    <div class="pos-incub-i">
                        <div class="pos-incub-l">
                            <div class="tit-pos-cub">Lancez un nouvel espace AffiChange :</div>
                            <div class="up-rocket">
                                <a class="bt-andestand" href="{{ path('intit_board_default') }}">Je crée mon panneau</a>
                                <a class="bt-andestand" href="{{ path('spaceweb_charte') }}">Relire la charte AffiChange</a>
                                <p class="titl-publ">Besoin d'aide ? Contactez-nous depuis votre panneau actif pour être accompagné.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
