<div class="container-bo_v5">
    <div class="flrow">
        <div class="fx-cub ii_cub2">
            <div class="O_list-cube">

                <div class="list-incub">
                    <div class="pos-incub-i">
                        <div class="pos-incub-l">
                            <div class="tit-pos-cub">{{ dispatch.name }}</div>
                           {#  {{ include('aff_account/gestion/view/actiontobuy.html.twig') }}  #}
                        </div>
                    </div>
                    <div class="cadre var--no-top var--blanc">
                        <div class="pt-dm">
                            <div class="large-text-right">
                                <a class="btn-nav-nivo4" href="{{ path('edit_profil_customer') }}">Modifier</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-incub">
                    <div class="pos-incub-i">
                        <div class="pos-incub-l">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>