<div class="cub-form">
    <div class="act-ct">
        <div class="cbe-fx">
            <div class="cbe_cnt">
                <div class="c_i_b">
                    <div class="in_cib">

                        <div class="form-groupfields glass-label">
                            <div class="glass-title_form">
                                <h3>NFiche client</h3>
                            </div>
                            <div class="process-module_glass">
                                <div class="stape-process-lit" >
                                    <h5>Client <strong>{{ customer.profil.firstname }}</strong></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>