{% block body %}
    <div class="_o_media">
        {{ include('desk/ptn_media/resa/deleteform.html.twig') }}
    </div>
{%  endblock body %}
{% use "js/js_ospaceboard.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}



